#-*- coding: utf-8 -*-
<!DOCTYPE html>
{% extends "ER_plotter/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block presentation_text %}
<h2 class="sub-header delimiter"></h2>
<div class="col-md-3"><img class="img-responsive image_text" src="{% static 'ER_plotter/nvImage.png' %}"></div>
<div class="col-md-9">
  <h2 class="sub-header" id="Mfuzz_clusters">NvERTx - A comparative embryogenesis & regeneration temporal gene expression plotter</h2>
  <div class="row">
    <p class="text">Understanding the relationship between embryogenesis and regeneration is a long lasting question in regenerative biology as both developmental strategies lead to fully functional organisms. Modern functional genomics enables us today to re-address this question using integrative approaches that enable us to identify the similarities as well as importantly the regeneration specific elements that are potential candidates for regenerative medicine.</p>
    <p class="text">The starlet sea anemone <em class="sp_name">Nematostella vectensis</em> (Anthozoa, Cnidaria) is a unique model to study <em class="em_blue">embryonic development</em> and <em class="em_blue">whole body regeneration</em> in the same organism. In complement to an existing <em class="em_blue">spatial gene expression</em> database, we present here a novel tool to mine simultaneously (re)-analyzed/normalized temporal RNAseq datasets for embryonic development and oral regeneration of <em class="sp_name">Nematostella vectensis</em>. Data can be accessed by searching for your gene of interest using a gene name or the NvERTx ID of your gene of interest, scrolling trough the gene list corresponding to a given expression clusters, or by using the integrated BLAST ® function.</p>
    <p class="text">More information about:  <em class="sp_name">Nematostella vectensis</em> | <em class="em_blue">Embryogenesis</em> | <em class="em_blue">Regeneration</em> | <em class="em_blue">Spatial gene expression</em></p>
    <p class="references">References for regeneration and novel embryonic datasets: <em class="em_blue">Warner et al(a), 2017, Warner et al(b), 2017.</em> Re-analyzed embryonic datasets: <em class="em_blue">Helm et al. 2013, Tulin et al. 2013</em> </p>
  </div>
</div>
{% endblock presentation_text %}
