#-*- coding: utf-8 -*-
<!DOCTYPE html>
{% extends "ER_plotter/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block presentation_text %}
<h2 class="sub-header delimiter"></h2>
<h2 class="sub-header" id="About">NvERTx - An embryogenesis & regeneration gene expression plotter</h2>
<div class="row">
<!--
  <img class="img-responsive" id="EmbryoRegen" src="{% static 'ER_plotter/EmbryoRegen.png' %}">
-->
  <p class="text">Understanding the relationship between embryogenesis and regeneration is a long standing question in regenerative biology as both developmental strategies lead to fully functional organisms. 
  Modern sequencing techniques have allowed us to re-examine this question at the systems level. 
  This site provides a set of tools to analyze gene expression in both embryogenesis and regeneration of the starlet sea anemone <em class="sp_name">Nematostella vectensis</em> (Anthozoa, Cnidaria).
  Here you will find tools to mine RNAseq datasets for embryonic development and oral regeneration of <em class="sp_name">Nematostella vectensis</em>. The data can be accessed by searching for your gene of interest using a gene name, NvERTx.4 ID, or JGI Nemve1 accession number. If you have a sequence you can use the BLAST function to retrieve corresponding NvERTx transcripts.
  You can also explore a list of genes corresponding to a given embryonic or regeneration co-expression cluster.</p>
  <p class="references">References for regeneration and novel embryonic datasets: <em class="em_blue">Warner et al(a), 2017, Warner et al(b), 2017.</em> Re-analyzed embryonic datasets: <a href = "https://www.ncbi.nlm.nih.gov/pubmed/24907201">Fischer et al. 2014</a>,<a href = "https://www.ncbi.nlm.nih.gov/pubmed/23731568">Tulin et al. 2013</a>,and <a href = "https://www.ncbi.nlm.nih.gov/pubmed/23601508">Helm et al. 2013</a></p>
</div>
<h2 class="sub-header" id="About">More About Nematostella</h2>

	<div class="table-responsive">
  		<table id="cluster_annot" class="table table-striped" cellspacing="0" width="100%">
  				<tr><p>Common name: Starlet sea anemone</p></tr>
  				<tr><p>Taxon: Cnidaria</p></tr>
  				<tr><p>Developmental mode: Indirect</p></tr>
  				<tr><p>Life cycle: Benthic-lecithotrophic</p></tr>
  				<tr><p>Egg type: Telolecithal</p></tr>
  				<tr><p>Cleavage type: Holoblastic</p></tr>
  				<tr><p>Gastrulation type: Invagination</p></tr>
  				<tr><p>Larval type: Planula</p></tr>
  		</table>
	</div>
<h2 class="sub-header" id="About">Data Availability</h2>
<div class="row">
  <p class="text">Datasets are publicly available. The NvERTx.4 trinity assembly is available for download using <a href="/static/downloads/NvERTx.4.fasta.gz">this direct download link</a>. Raw sequencing reads from Fischer et al. 2014 (0-19Hpf hourly) and Tulin et al. 2013 (0,6,12,18,24Hpf) are available on the Woods Hole Open Access Server <a href="http://darchive.mblwhoilibrary.org/handle/1912/5981">here</a> and <a href="http://darchive.mblwhoilibrary.org/handle/1912/5613">here</a>. Raw sequencing reads from Helm et al. 2013 (2,7,12,24,120,240 Hpf) are available on the NCBI sequence read archive project number <a href="https://www.ncbi.nlm.nih.gov/bioproject/PRJNA189768/">PRJNA189768</a></p>
</div>
<h2 class="sub-header" id="About">About this site</h2>
<div class="row">
  <p class="text">This site was developed using the <a href="https://www.djangoproject.com/">Django</a> framework and coded by Vincent Guerlais and Jake Warner. To report bugs or request data, send us an email at: jwarner\at/unice.fr</p>
</div>
<h2 class="sub-header" id="About">Funding</h2>
<div class="row">
  <p class="text">Funding for this site and it's developers was graciously provided by</p>
</div>
<div>
  <img id="arc" src="{% static 'ER_plotter/arc.png' %}">
  <img id="ircan" src="{% static 'ER_plotter/ircan.png' %}">
  <img id="INSERM" src="{% static 'ER_plotter/INSERM.jpeg' %}">
  <img id="UCA" src="{% static 'ER_plotter/UCA.jpeg' %}">
</div>
{% endblock presentation_text %}


