{% load widget_tweaks %}
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>NvERTx Embryo-Regen plotter</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'ER_plotter/bootStrap/css/bootstrap.min.css' %}" />

    <!-- Custom styles for this template -->
    {% block css %}{% endblock css %}
    <link rel="stylesheet" href="{% static 'ER_plotter/home0424l.css' %}" />
    {% block head %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-center">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li><a class="navbar_links" class="page-scroll hide-m" href="{% url 'home' %}">NvERTx - HOME</a></li>       
            <li><a class="navbar_links" class="page-scroll hide-m" href="{% url 'mfuzz' %}">M-Fuzz clusters</a></li>
            <li><a href="http://www.kahikai.org/"><img src="{% static 'ER_plotter/logo_cropped.png' %}" width='70px'></a></li>
            <li><a class="navbar_links" class="page-scroll hide-m" href="{% url 'blast' %}">BLAST</a></li>
            <li><a class="navbar_links" class="page-scroll hide-m" href="{% url 'about' %}">About</a></li>
            <li><a class="navbar_links" class="page-scroll hide-m" href="{% url 'faq' %}">FAQ - Cite</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">{% block presentation_text %}
        <h2 class="sub-header delimiter"></h2>
        <h2 class="sub-header" id="Mfuzz_clusters">Welcome to NvERTx plotter !</h2>
        <div class="row">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis non ligula vitae iaculis. Praesent imperdiet nulla mi, a pharetra eros feugiat eget. Phasellus malesuada, magna non semper suscipit, mi massa rhoncus leo, lobortis eleifend eros augue non enim. Nunc pretium, quam sed feugiat mattis, lacus neque interdum purus, at lacinia lacus magna sit amet tellus. Sed orci nunc, porta in lectus tristique, mattis sagittis urna. Vestibulum sodales maximus pretium. Phasellus id turpis orci. Etiam ornare ac turpis at egestas. Proin ornare eros a metus cursus convallis. Quisque mollis a nunc a tempus. Suspendisse potenti. Morbi vel tempor dui. Pellentesque nec nunc in justo euismod luctus id eu mi.

        Nulla aliquam efficitur magna id hendrerit. Praesent ligula nisl, gravida vitae arcu nec, mollis imperdiet eros. Sed blandit et ligula a rhoncus. Cras viverra scelerisque ante, euismod auctor felis. Donec posuere mollis lectus at volutpat. In hac habitasse platea dictumst. Vestibulum vulputate, orci quis vulputate dapibus, velit nulla sodales arcu, vel hendrerit lorem ex at enim. Ut tempus lectus vitae magna commodo interdum. Nam tristique sapien quis lobortis tincidunt. Pellentesque id ligula cursus, rutrum arcu eget, hendrerit eros. Duis non quam id dui dignissim mollis. Nullam pharetra purus vel massa finibus bibendum. Nullam scelerisque arcu nec ex suscipit, non ultricies ipsum molestie.

        Mauris eu nisl sed purus maximus elementum eget tincidunt nibh. Aenean erat lacus, consectetur sit amet lacinia in, dapibus in est. Pellentesque in enim cursus, auctor neque nec, cursus sem. Donec velit dolor, fringilla eu viverra at, pellentesque vitae lacus. Vivamus cursus eleifend porta. Aliquam justo enim, sollicitudin vitae augue non, condimentum suscipit purus. Pellentesque bibendum ante aliquam, scelerisque erat et, dictum nibh. Suspendisse ex mi, porta non lacus ut, semper sodales orci. Integer vehicula mattis felis, vitae consectetur ante mattis ut. Curabitur malesuada, nulla nec elementum volutpat, lacus velit tristique sapien, et rutrum felis tortor commodo augue. Nullam luctus ipsum a justo semper mattis ut in arcu.

        Ut euismod metus nec eleifend sollicitudin. Sed sagittis pharetra arcu ac tempor. Duis tincidunt non ligula vel consectetur. Donec mollis eget eros eget vehicula. Mauris porttitor vestibulum velit, quis semper dolor pretium non. Cras auctor gravida porttitor. Aliquam malesuada erat dolor, eget porttitor dui tincidunt id. Fusce sed hendrerit justo, vel facilisis neque. Nullam vitae porta elit. Ut finibus pretium elit eu facilisis.

        Vivamus ligula tellus, fermentum vitae semper fringilla, volutpat vel justo. Etiam et accumsan tortor, ac efficitur purus. Nunc laoreet arcu ac erat viverra ornare. Aliquam pellentesque ligula a viverra posuere. Donec fringilla odio id ultricies feugiat. Fusce arcu purus, facilisis nec quam in, mollis aliquam dolor. Pellentesque ligula augue, malesuada in tincidunt ut, varius at lacus. Donec sed hendrerit nisl, id varius elit. Praesent id sodales nunc. Cras justo arcu, rutrum quis metus nec, vulputate cursus sem. Praesent tempor congue magna consectetur iaculis. Praesent faucibus tincidunt libero, id blandit mauris mollis ac. Maecenas rutrum diam nec nisi placerat, non efficitur lacus posuere. Pellentesque consectetur nibh sapien. Nulla sit amet accumsan sapien.
        </p>
        </div>
        {% endblock presentation_text %}
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <div><img class="img-responsive image_text" src="{% static 'ER_plotter/nvImage2.png' %}"></div>
          <form class="nav nav-sidebar" action="{% url 'search' %}" method="get">
            <h3 class="NvERTxInput">Search by gene name</h3>
            {% render_field gene_search_form.gene_name class+='form-control' placeholder='eg : TCF or jgi|Nemve1|199320' %}<br/>
            <input type="submit" class="btn btn-primary" value="Search!">
          </form>
          <form class="nav nav-sidebar" action="{% url 'results' %}" method="post">
          <h3 class="NvERTxInput">Search by NvERTx ID</h3>
          {% csrf_token %}
          {% render_field nvertx_form.nvertx_1 class+='nvid-form-control' placeholder='eg : NvERTx.4.100046 or 100046' %}<br/>
          {% render_field nvertx_form.nvertx_2 class+='nvid-form-control' placeholder='eg : NvERTx.4.100046' %}<br/>
          {% render_field nvertx_form.nvertx_3 class+='nvid-form-control' placeholder='eg : NvERTx.4.100046' %}<br/>
          {% render_field nvertx_form.nvertx_4 class+='nvid-form-control' placeholder='eg : NvERTx.4.100046' %}<br/>
          {% render_field nvertx_form.nvertx_5 class+='nvid-form-control' placeholder='eg : NvERTx.4.100046' %}
            <div class="checkbox">
              <label>
                {{ nvertx_form.log2 }} Check for CPM (Counts per million)
              </label>
            </div>
            <input type="submit" class="btn btn-primary" value="Plot!" id="primaryButton" onclick="ExistingLogic()" />
          </form>
        </div>
        {% block content %}{% endblock content %}
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'ER_plotter/bootStrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">$(window).scroll(function() {
      if ($(document).scrollTop() > 50) {
        $('nav').addClass('shrink');
      } else {
        $('nav').removeClass('shrink');
      }
    });</script>
    
    <!-- INFINITE SCROLL JS SHIT! -->
    <script src="{% static 'ER_plotter/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'ER_plotter/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'ER_plotter/infinite.js' %}"></script>
    {% block js %}
<!--
    <script src="{% static 'ER_plotter/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'ER_plotter/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'ER_plotter/infinite.js' %}"></script>
	

<script type="text/javascript">
$(function() {
    $("td[colspan=1]").find("p").hide();
    $("td[colspan=7]").find("p").hide();
    $("table").click(function(event) {
        event.stopPropagation();
        var $target = $(event.target);
        if ( $target.closest("td").attr("colspan") < 2 ) {
            $target.closest("tr").next().find("p").slideToggle();
        } else {
            $target.closest("tr").next().find("p").slideToggle();
        }                    
    });
});
</script>
<script type="text/javascript">
var elem = $(".nvid-form-control");

$("body").on("click", ".nvInput_checkboxes",function(){
	var val = $(this).val();
    for(var i = 0, len = elem.length; i < len; i++){
  		if(elem[i].value === val){
    		elem[i].value = "";
      	return;
    	}
  	}   
  	for(var i = 0, len = elem.length; i < len; i++){
  		if(elem[i].value === ""){
    		elem[i].value = val;
      	break;
    	}
  	}
});
</script>
-->


{% endblock js %}
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="/Users/vincent/Desktop/dER_plotter/nemVec_ER/ER_plotter/static/ER_plotter/bootStrap/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
