#-*- coding: utf-8 -*-
<!DOCTYPE html>
{% extends "ER_plotter/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
{% endblock css %}


{% block presentation_text %}
<h2 class="sub-header delimiter"></h2>
<h2 class="sub-header" id="Mfuzz_clusters">NvERTx - An embryogenesis & regeneration gene expression plotter</h2>
<!--
<div class="row">
  <p class="text">Understanding the relationship between embryogenesis and regeneration is a long lasting question in regenerative biology as both developmental strategies lead to fully functional organisms. Modern functional genomics enables us today to re-address this question using integrative approaches that enable us to identify the similarities as well as importantly the regeneration specific elements that are potential candidates for regenerative medicine.</p>
  <p class="text">The starlet sea anemone <em class="sp_name">Nematostella vectensis</em> (Anthozoa, Cnidaria) is a unique model to study <em class="em_blue">embryonic development</em> and <em class="em_blue">whole body regeneration</em> in the same organism. In complement to an existing <em class="em_blue">spatial gene expression</em> database, we present here a novel tool to mine simultaneously (re)-analyzed/normalized temporal RNAseq datasets for embryonic development and oral regeneration of <em class="sp_name">Nematostella vectensis</em>. Data can be accessed by searching for your gene of interest using a gene name or the NvERTx ID of your gene of interest, scrolling trough the gene list corresponding to a given expression clusters, or by using the integrated BLAST ® function.</p>
  <p class="text">More information about:  <em class="sp_name">Nematostella vectensis</em> | <em class="em_blue">Embryogenesis</em> | <em class="em_blue">Regeneration</em> | <em class="em_blue">Spatial gene expression</em></p>
  <p class="references">References for regeneration and novel embryonic datasets: <em class="em_blue">Warner et al(a), 2017, Warner et al(b), 2017.</em> Re-analyzed embryonic datasets: <em class="em_blue">Helm et al. 2013, Tulin et al. 2013</em> </p>
</div>
-->
{% endblock presentation_text %}


{% block content %}
  <!-- Buttons -->
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header delimiter"></h2>
    <div class="row">

      <div class="col-md-12">
        <div class="block col-md-7" id="cluster_block">
          <h3 class="blockTitle">Mine co-expression clusters</h3>
          <a href="{% url 'mfuzz' %}"><button type="button" class="btn btn-default mfuzz_button"><img class="img-responsive" id="image_clust_home" src="{% static 'ER_plotter/home_clusters.png' %}"></button></a>
          </br>
        </div>

        <div class="col-md-4 col-md-offset-1">
          <div class ="block col-md-12">
            <div class ="col-md-10">
              <h3 class="blockTitle">Search by gene name</h3>
            </div>
            <div class ="col-md-2">
            </div>
            <div class ="col-md-10">
              <form action="{% url 'search' %}" method="get">
                {% render_field gene_search_form.gene_name class+='form-control' placeholder='eg : TCF' %}
              </div>
              <div class ="col-md-2">
                <input type="submit" class="btn btn-primary" value="Go!">
              </div>
            </form>
          </div>

          <div class ="block col-md-12">
            <div class ="col-md-10">
              <h3 class="blockTitle">Search by NvERTx ID</h3>
            </div>
            <div class ="col-md-2">
            </div>
            <div class ="col-md-10">
              <form action="{% url 'results' %}" method="post">
                {% csrf_token %}
                {% render_field nvertx_form.nvertx_1 class+='form-control' placeholder='eg : NvERTx.2.133024 or 133024' %}
              </div>
              <div class ="col-md-2">
                <input type="submit" class="btn btn-primary" value="Go!">
              </div>
              </form>
            </div>
          </div>


      </div>

    </div>
    </br>
    </br>
    <div class="row">
      <div class="block">
        <h3 class="blockTitle" id="blast">BLASTn</h3>
        <a href="/blast/tblastn"><button type="button" class="btn btn-primary">Switch to tBLASTn</button></a><br/>

        <div>
          {% if form.errors %}
            <div class="alert alert-danger" role="alert">
              Please correct errors: {{form.errors}}
            </div>
            {% endif %}
            <form action="{% url 'blast' %}" method="post">
              {% csrf_token %}
              <p>{% render_field form.sequence_in_form class+='form-control' %}</p>
              <div class='blast_div'>
                <p><strong>Database:</strong> {{form.blast_db_in_form}}</p>
                <p><strong>E-value:</strong> {{form.evalue_in_form}}</p>
                {% if form.matrix_in_form %}
                  <p><strong>Matrix:</strong> {{form.matrix_in_form}}</p>
                  <!--<p><strong>{{form.matrix_in_form.label}}</strong> {{form.matrix_in_form}}</p>-->
                {% endif %}
                <p><strong>Word size:</strong> {{form.word_size_in_form}}</p>
                <p><strong>Sensitivity:</strong> {{form.search_sensitivity_in_form}}</p>
              </div>
              <input type="submit" class="btn btn-primary" value="Submit!">
            </form>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}
