#-*- coding: utf-8 -*-
<!DOCTYPE html>
{% load widget_tweaks %}
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>NvERTx Embryo-Regen plotter</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'ER_plotter/bootStrap/css/bootstrap.min.css' %}" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'ER_plotter/home.css' %}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawRegenChart);
      google.charts.setOnLoadCallback(drawEmbryoChart);

      function drawRegenChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'x');
        data.addColumn('number', '{{ nvertx_1 }}');
        data.addColumn({id:'i0', type:'number', role:'interval'});
        data.addColumn({id:'i1', type:'number', role:'interval'});
        data.addColumn({type: 'string', role: 'tooltip'});
        {% if nvertx_2 %}
        data.addColumn('number', '{{ nvertx_2 }}');
        data.addColumn({id:'i2', type:'number', role:'interval'});
        data.addColumn({id:'i3', type:'number', role:'interval'});
        data.addColumn({type: 'string', role: 'tooltip'});
        {% endif %}
  
        data.addRows([
            [-2, {{ regen_UC_1 }}, {{regen_se_UC_1.0}}, {{ regen_se_UC_1.1 }}, 'UC \n {{ regen_UC_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% if nvertx_2 %}, {{ regen_UC_2 }}, {{regen_se_UC_2.0}}, {{ regen_se_UC_2.1 }}, 'UC \n {{ regen_UC_2 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% endif %}],
            [0, {{ regen_0_1 }}, {{regen_se_0_1.0}}, {{ regen_se_0_1.1 }}, '0 HPA \n {{ regen_0_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% if nvertx_2 %}, {{ regen_0_2 }}, {{regen_se_0_2.0}}, {{ regen_se_0_2.1 }}, '0 HPA \n {{ regen_0_2 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% endif %}],
            [2, {{ regen_2_1 }}, {{regen_se_2_1.0}}, {{ regen_se_2_1.1 }}, '2 HPA \n {{ regen_2_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% if nvertx_2 %}, {{ regen_2_2 }}, {{regen_se_2_2.0}}, {{ regen_se_2_2.1 }}, '2 HPA \n {{ regen_2_2 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% endif %}],
            [4, {{ regen_4_1 }}, {{regen_se_4_1.0}}, {{ regen_se_4_1.1 }}, '4 HPA \n {{ regen_4_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% if nvertx_2 %}, {{ regen_4_2 }}, {{regen_se_4_2.0}}, {{ regen_se_4_2.1 }}, '4 HPA \n {{ regen_4_2 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% endif %}],
            [8, {{ regen_8_1 }}, {{regen_se_8_1.0}}, {{ regen_se_8_1.1 }}, '8 HPA \n {{ regen_8_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% if nvertx_2 %}, {{ regen_8_2 }}, {{regen_se_8_2.0}}, {{ regen_se_8_2.1 }}, '8 HPA \n {{ regen_8_2 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% endif %}],
            [12, {{ regen_12_1 }}, {{regen_se_12_1.0}}, {{ regen_se_12_1.1 }}, '12 HPA \n {{ regen_12_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% if nvertx_2 %}, {{ regen_12_2 }}, {{regen_se_12_2.0}}, {{ regen_se_12_2.1 }}, '12 HPA \n {{ regen_12_2 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% endif %}],
            [16, {{ regen_16_1 }}, {{regen_se_16_1.0}}, {{ regen_se_16_1.1 }}, '16 HPA \n {{ regen_16_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% if nvertx_2 %}, {{ regen_16_2 }}, {{regen_se_16_2.0}}, {{ regen_se_16_2.1 }}, '16 HPA \n {{ regen_16_2 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% endif %}],
            [20, {{ regen_20_1 }}, {{regen_se_20_1.0}}, {{ regen_se_20_1.1 }}, '20 HPA \n {{ regen_20_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% if nvertx_2 %}, {{ regen_20_2 }}, {{regen_se_20_2.0}}, {{ regen_se_20_2.1 }}, '20 HPA \n {{ regen_20_2 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% endif %}],
            [24, {{ regen_24_1 }}, {{regen_se_24_1.0}}, {{ regen_se_24_1.1 }}, '24 HPA \n {{ regen_24_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% if nvertx_2 %}, {{ regen_24_2 }}, {{regen_se_24_2.0}}, {{ regen_se_24_2.1 }}, '24 HPA \n {{ regen_24_2 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% endif %}],
            [36, {{ regen_36_1 }}, {{regen_se_36_1.0}}, {{ regen_se_36_1.1 }}, '36 HPA \n {{ regen_36_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% if nvertx_2 %}, {{ regen_36_2 }}, {{regen_se_36_2.0}}, {{ regen_se_36_2.1 }}, '36 HPA \n {{ regen_36_2 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% endif %}],
            [48, {{ regen_48_1 }}, {{regen_se_48_1.0}}, {{ regen_se_48_1.1 }}, '48 HPA \n {{ regen_48_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% if nvertx_2 %}, {{ regen_48_2 }}, {{regen_se_48_2.0}}, {{ regen_se_48_2.1 }}, '48 HPA \n {{ regen_48_2 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% endif %}],
            [60, {{ regen_60_1 }}, {{regen_se_60_1.0}}, {{ regen_se_60_1.1 }}, '60 HPA \n {{ regen_60_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% if nvertx_2 %}, {{ regen_60_2 }}, {{regen_se_60_2.0}}, {{ regen_se_60_2.1 }}, '60 HPA \n {{ regen_60_2 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% endif %}],
            [72, {{ regen_72_1 }}, {{regen_se_72_1.0}}, {{ regen_se_72_1.1 }}, '72 HPA \n {{ regen_72_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% if nvertx_2 %}, {{ regen_72_2 }}, {{regen_se_72_2.0}}, {{ regen_se_72_2.1 }}, '72 HPA \n {{ regen_72_2 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% endif %}],
            [96, {{ regen_96_1 }}, {{regen_se_96_1.0}}, {{ regen_se_96_1.1 }}, '96 HPA \n {{ regen_96_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% if nvertx_2 %}, {{ regen_96_2 }}, {{regen_se_96_2.0}}, {{ regen_se_96_2.1 }}, '96 HPA \n {{ regen_96_2 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% endif %}],
            [120, {{ regen_120_1 }}, {{regen_se_120_1.0}}, {{ regen_se_120_1.1 }}, '120 HPA \n {{ regen_120_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% if nvertx_2 %}, {{ regen_120_2 }}, {{regen_se_120_2.0}}, {{ regen_se_120_2.1 }}, '120 HPA \n {{ regen_120_2 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% endif %}],
            [144, {{ regen_144_1 }}, {{regen_se_144_1.0}}, {{ regen_se_144_1.1 }}, '144 HPA \n {{ regen_144_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% if nvertx_2 %}, {{ regen_144_2 }}, {{regen_se_144_2.0}}, {{ regen_se_144_2.1 }}, '144 HPA \n {{ regen_144_2 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}'{% endif %}]
            ]);
  
        // The intervals data as narrow lines (useful for showing raw source data)
        var options_lines = {
            title: 'Regeneration expression',
            titleTextStyle: { fontSize: 20 },
            lineWidth: 2,
            intervals: { 'style':'sticks', lineWidth:1.5 },
            legend: 'right',
            hAxis: {
              title: 'Hours post amputation',
              ticks : [0,2,4,8,12,16,20,24,36,48,60,72,96,120,144]
              },
            vAxis: { title: {% if log2 %}'log2(Counts per million + 1)'{% else %}'Counts per million'{% endif %} }
        };
  
        var regen_plot = new google.visualization.LineChart(document.getElementById('regen_plot'));
        regen_plot.draw(data, options_lines);
      }

      function drawEmbryoChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'x');
        data.addColumn('number', '{{ nvertx_1 }} Warner');
        data.addColumn('number', '{{ nvertx_1 }} Fischer');
        data.addColumn('number', '{{ nvertx_1 }} Helm');
        data.addColumn('number', 'mean');
        data.addColumn({type: 'string', role: 'tooltip'});

  
        data.addRows([
            [0, , {{ embryo_fischer_0_1 }}, , {{ embryo_fischer_0_1 }}, '0 HPF\nFischer : {{ embryo_fischer_0_1 }} CPM'],
            [1, , {{ embryo_fischer_1_1 }}, , {{ embryo_fischer_1_1 }}, '1 HPF\nFischer : {{ embryo_fischer_1_1 }} CPM'],
            [2, , {{ embryo_fischer_2_1 }}, {{ embryo_helm_2_1 }}, {{ embryo_mean_2_1 }}, '2 HPF\nFischer : {{ embryo_fischer_2_1 }} CPM\nHelm : {{ embryo_helm_2_1 }} CPM'],
            [3, , {{ embryo_fischer_3_1 }}, , {{ embryo_fischer_3_1 }}, '3 HPF\nFischer : {{ embryo_fischer_3_1 }} CPM'],
            [4, , {{ embryo_fischer_4_1 }}, , {{ embryo_fischer_4_1 }}, '4 HPF\nFischer : {{ embryo_fischer_4_1 }} CPM'],
            [5, , {{ embryo_fischer_5_1 }}, , {{ embryo_fischer_5_1 }}, '5 HPF\nFischer : {{ embryo_fischer_5_1 }} CPM'],
            [6, , {{ embryo_fischer_6_1 }}, , {{ embryo_fischer_6_1 }}, '6 HPF\nFischer : {{ embryo_fischer_6_1 }} CPM'],
            [7, , {{ embryo_fischer_7_1 }}, {{ embryo_helm_7_1 }}, {{ embryo_mean_7_1 }}, '7 HPF\nFischer : {{ embryo_fischer_7_1 }} CPM\nHelm : {{ embryo_helm_7_1 }} CPM'],
            [8, , {{ embryo_fischer_8_1 }}, , {{ embryo_fischer_8_1 }}, '8 HPF\nFischer : {{ embryo_fischer_8_1 }} CPM'],
            [9, , {{ embryo_fischer_9_1 }}, , {{ embryo_fischer_9_1 }}, '9 HPF\nFischer : {{ embryo_fischer_9_1 }} CPM'],
            [10, , {{ embryo_fischer_10_1 }}, , {{ embryo_fischer_10_1 }}, '10 HPF\nFischer : {{ embryo_fischer_10_1 }} CPM'],
            [11, , {{ embryo_fischer_11_1 }}, , {{ embryo_fischer_11_1 }}, '11 HPF\nFischer : {{ embryo_fischer_11_1 }} CPM'],
            [12, , {{ embryo_fischer_12_1 }}, {{ embryo_helm_12_1 }}, {{ embryo_mean_12_1 }}, '12 HPF\nFischer : {{ embryo_fischer_12_1 }} CPM\nHelm : {{ embryo_helm_12_1 }} CPM'],
            [13, , {{ embryo_fischer_13_1 }}, , {{ embryo_fischer_13_1 }}, '13 HPF\nFischer : {{ embryo_fischer_13_1 }} CPM'],
            [14, , {{ embryo_fischer_14_1 }}, , {{ embryo_fischer_14_1 }}, '14 HPF\nFischer : {{ embryo_fischer_14_1 }} CPM'],
            [15, , {{ embryo_fischer_15_1 }}, , {{ embryo_fischer_15_1 }}, '15 HPF\nFischer : {{ embryo_fischer_15_1 }} CPM'],
            [16, , {{ embryo_fischer_16_1 }}, , {{ embryo_fischer_16_1 }}, '16 HPF\nFischer : {{ embryo_fischer_16_1 }} CPM'],
            [17, , {{ embryo_fischer_17_1 }}, , {{ embryo_fischer_17_1 }}, '17 HPF\nFischer : {{ embryo_fischer_17_1 }} CPM'],
            [18, , {{ embryo_fischer_18_1 }}, , {{ embryo_fischer_18_1 }}, '18 HPF\nFischer : {{ embryo_fischer_18_1 }} CPM'],
            [19, , {{ embryo_fischer_19_1 }}, , {{ embryo_fischer_19_1 }}, '19 HPF\nFischer : {{ embryo_fischer_19_1 }} CPM'],
            [24, {{ embryo_warner_24_1 }}, , {{ embryo_helm_24_1 }}, {{ embryo_mean_24_1 }}, '24 HPF\nWarner : {{ embryo_warner_24_1 }} CPM\nHelm : {{ embryo_helm_24_1 }} CPM'],
            [48, {{ embryo_warner_48_1 }}, , , {{ embryo_warner_48_1 }}, '48 HPF\nFischer : {{ embryo_warner_48_1 }} CPM'],
            [72, {{ embryo_warner_72_1 }}, , , {{ embryo_warner_72_1 }}, '72 HPF\nFischer : {{ embryo_warner_72_1 }} CPM'],
            [96, {{ embryo_warner_96_1 }}, , , {{ embryo_warner_96_1 }}, '96 HPF\nFischer : {{ embryo_warner_96_1 }} CPM'],
            [120, {{ embryo_warner_120_1 }}, , {{ embryo_helm_120_1 }}, {{ embryo_mean_120_1 }}, '120 HPF\nFischer : {{ embryo_warner_120_1 }} CPM\nHelm : {{ embryo_helm_120_1 }} CPM'],
            [144, {{ embryo_warner_144_1 }}, , , {{ embryo_warner_144_1 }}, '144 HPF\nFischer : {{ embryo_warner_144_1 }} CPM'],
            [168, {{ embryo_warner_168_1 }}, , , {{ embryo_warner_168_1 }}, '168 HPF\nFischer : {{ embryo_warner_168_1 }} CPM'],
            [192, {{ embryo_warner_192_1 }}, , , {{ embryo_warner_192_1 }}, '192 HPF\nFischer : {{ embryo_warner_192_1 }} CPM'],
            [240, , , {{ embryo_helm_240_1 }}, {{ embryo_helm_240_1 }}, '240 HPF\nHelm : {{ embryo_helm_240_1 }} CPM']
            ]);
  
        // The intervals data as narrow lines (useful for showing raw source data)
        var options_lines = {
            title: 'Embryonic expression',
            titleTextStyle: { fontSize: 20 },
            lineWidth: 2,
            intervals: { 'style':'sticks' },
            legend: 'right',
            hAxis: {
              title: 'Hours post fertilization',
              ticks : [0,6,12,24,48,72,96,120,144,168,192,240]
              },
            vAxis: { title:'Counts per million' },
            pointSize: 6,
            series: {
              0: {lineWidth: 0, pointShape: 'circle', color: '#3366cc'},
              1: {lineWidth: 0, pointShape: 'triangle', color: '#3366cc'},
              2: {lineWidth: 0, pointShape: 'square', color: '#3366cc'},
              3: {pointsVisible: false, visibleInLegend: false, color: '#3366cc'}
            }

        };
  
        var embryo_plot = new google.visualization.LineChart(document.getElementById('embryo_plot'));
        embryo_plot.draw(data, options_lines);
      }

    </script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NvERTx Embryo-Regen plotter</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">button2</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#Mfuzz_clusters">Mfuzz clusters</a></li>
            <li><a href="#BLAST">BLAST</a></li>
            <li><a href="#Results">Results</a></li>
          </ul>
          <br/>
          <form class="nav nav-sidebar" action="test" method="post">
            <h3 class="NvERTxInput">Search for a gene</h3>
            {% csrf_token %}
            {% render_field gene_search_form.gene_name class+='form-control' placeholder='eg : TCF' %}
            <input type="submit" class="btn btn-primary" value="Search !">
          </form>
          <form class="nav nav-sidebar" action="" method="post">
          <h3 class="NvERTxInput">Input NvERTx Number</h3>
          {% csrf_token %}
          {% render_field nvertx_form.nvertx_1 class+='form-control' placeholder='eg : NvERTx.2.133024' %}
          <h3 class="NvERTxInput">Input other numbers or leave blank</h3>
          {% render_field nvertx_form.nvertx_2 class+='form-control' placeholder='eg : NvERTx.2.133025' %}<br/>
          {% render_field nvertx_form.nvertx_3 class+='form-control' placeholder='eg : NvERTx.2.133026' %}<br/>
          {% render_field nvertx_form.nvertx_4 class+='form-control' placeholder='eg : NvERTx.2.133027' %}<br/>
          {% render_field nvertx_form.nvertx_5 class+='form-control' placeholder='eg : NvERTx.2.133028' %}
            <div class="checkbox">
              <label>
                {{ nvertx_form.log2 }} Check for log2
              </label>
            </div>
            <input type="submit" class="btn btn-primary" value="Evaluate !">
          </form>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="sub-header" id="Mfuzz_clusters">Explore Mfuzz Clusters</h1>
          <div class="row placeholders">
            <div class="col-xs-2 col-sm-2 imageButton">
              <button type="button" class="btn btn-lg btn-default"><img src="{% static 'ER_plotter/Mfuzz1.png' %}" height='250px' width='250px' class="img-responsive"></button>
            </div>
            <div class="col-xs-2 col-sm-2 imageButton">
              <button type="button" class="btn btn-lg btn-default"><img src="{% static 'ER_plotter/Mfuzz2.png' %}" height='250px' width='250px' class="img-responsive"></button>
            </div>
            <div class="col-xs-2 col-sm-2 imageButton">
              <button type="button" class="btn btn-lg btn-default"><img src="{% static 'ER_plotter/Mfuzz3.png' %}" height='250px' width='250px' class="img-responsive"></button>
            </div>
            <div class="col-xs-2 col-sm-2 imageButton">
              <button type="button" class="btn btn-lg btn-default"><img src="{% static 'ER_plotter/Mfuzz4.png' %}" height='250px' width='250px' class="img-responsive"></button>
            </div>
            <div class="col-xs-2 col-sm-2 imageButton">
              <button type="button" class="btn btn-lg btn-default"><img src="{% static 'ER_plotter/Mfuzz5.png' %}" height='250px' width='250px' class="img-responsive"></button>
            </div>
            <div class="col-xs-2 col-sm-2 imageButton">
              <button type="button" class="btn btn-lg btn-default"><img src="{% static 'ER_plotter/Mfuzz6.png' %}" height='250px' width='250px' class="img-responsive"></button>
            </div>
            <div class="col-xs-2 col-sm-2 imageButton">
              <button type="button" class="btn btn-lg btn-default"><img src="{% static 'ER_plotter/Mfuzz7.png' %}" height='250px' width='250px' class="img-responsive"></button>
            </div>
            <div class="col-xs-2 col-sm-2 imageButton">
              <button type="button" class="btn btn-lg btn-default"><img src="{% static 'ER_plotter/Mfuzz8.png' %}" height='250px' width='250px' class="img-responsive"></button>
            </div>
            <div class="col-xs-2 col-sm-2 imageButton">
              <button type="button" class="btn btn-lg btn-default"><img src="{% static 'ER_plotter/Mfuzz9.png' %}" height='250px' width='250px' class="img-responsive"></button>
            </div>
            <div class="col-xs-2 col-sm-2 imageButton">
              <button type="button" class="btn btn-lg btn-default"><img src="{% static 'ER_plotter/Mfuzz10.png' %}" height='250px' width='250px' class="img-responsive"></button>
            </div>
            <div class="col-xs-2 col-sm-2 imageButton">
              <button type="button" class="btn btn-lg btn-default"><img src="{% static 'ER_plotter/Mfuzz11.png' %}" height='250px' width='250px' class="img-responsive"></button>
            </div>
            <div class="col-xs-2 col-sm-2 imageButton">
              <button type="button" class="btn btn-lg btn-default"><img src="{% static 'ER_plotter/Mfuzz12.png' %}" height='250px' width='250px' class="img-responsive"></button>
            </div>
          </div>



          <h2 class="sub-header" id="BLAST">BLAST</h2>
          <div>
            <p>
              {{ regen_UC_1 }}, {{regen_se_UC_1.0}}, {{ regen_se_UC_1.1 }}, 'UC \n {{ regen_UC_1 }} {% if log2%}log2(CPM+1){% else %}CPM{% endif %}', {{ regen_UC_2 }}, {{regen_se_UC_2.0}}, {{ regen_se_UC_2.1 }}
              {% for nb in regen_point %}a {{ regen_UC_2 }}{{ nb }} a{% endfor %}

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis non ligula vitae iaculis. Praesent imperdiet nulla mi, a pharetra eros feugiat eget. Phasellus malesuada, magna non semper suscipit, mi massa rhoncus leo, lobortis eleifend eros augue non enim. Nunc pretium, quam sed feugiat mattis, lacus neque interdum purus, at lacinia lacus magna sit amet tellus. Sed orci nunc, porta in lectus tristique, mattis sagittis urna. Vestibulum sodales maximus pretium. Phasellus id turpis orci. Etiam ornare ac turpis at egestas. Proin ornare eros a metus cursus convallis. Quisque mollis a nunc a tempus. Suspendisse potenti. Morbi vel tempor dui. Pellentesque nec nunc in justo euismod luctus id eu mi.

Nulla aliquam efficitur magna id hendrerit. Praesent ligula nisl, gravida vitae arcu nec, mollis imperdiet eros. Sed blandit et ligula a rhoncus. Cras viverra scelerisque ante, euismod auctor felis. Donec posuere mollis lectus at volutpat. In hac habitasse platea dictumst. Vestibulum vulputate, orci quis vulputate dapibus, velit nulla sodales arcu, vel hendrerit lorem ex at enim. Ut tempus lectus vitae magna commodo interdum. Nam tristique sapien quis lobortis tincidunt. Pellentesque id ligula cursus, rutrum arcu eget, hendrerit eros. Duis non quam id dui dignissim mollis. Nullam pharetra purus vel massa finibus bibendum. Nullam scelerisque arcu nec ex suscipit, non ultricies ipsum molestie.

Mauris eu nisl sed purus maximus elementum eget tincidunt nibh. Aenean erat lacus, consectetur sit amet lacinia in, dapibus in est. Pellentesque in enim cursus, auctor neque nec, cursus sem. Donec velit dolor, fringilla eu viverra at, pellentesque vitae lacus. Vivamus cursus eleifend porta. Aliquam justo enim, sollicitudin vitae augue non, condimentum suscipit purus. Pellentesque bibendum ante aliquam, scelerisque erat et, dictum nibh. Suspendisse ex mi, porta non lacus ut, semper sodales orci. Integer vehicula mattis felis, vitae consectetur ante mattis ut. Curabitur malesuada, nulla nec elementum volutpat, lacus velit tristique sapien, et rutrum felis tortor commodo augue. Nullam luctus ipsum a justo semper mattis ut in arcu.

Ut euismod metus nec eleifend sollicitudin. Sed sagittis pharetra arcu ac tempor. Duis tincidunt non ligula vel consectetur. Donec mollis eget eros eget vehicula. Mauris porttitor vestibulum velit, quis semper dolor pretium non. Cras auctor gravida porttitor. Aliquam malesuada erat dolor, eget porttitor dui tincidunt id. Fusce sed hendrerit justo, vel facilisis neque. Nullam vitae porta elit. Ut finibus pretium elit eu facilisis.

Vivamus ligula tellus, fermentum vitae semper fringilla, volutpat vel justo. Etiam et accumsan tortor, ac efficitur purus. Nunc laoreet arcu ac erat viverra ornare. Aliquam pellentesque ligula a viverra posuere. Donec fringilla odio id ultricies feugiat. Fusce arcu purus, facilisis nec quam in, mollis aliquam dolor. Pellentesque ligula augue, malesuada in tincidunt ut, varius at lacus. Donec sed hendrerit nisl, id varius elit. Praesent id sodales nunc. Cras justo arcu, rutrum quis metus nec, vulputate cursus sem. Praesent tempor congue magna consectetur iaculis. Praesent faucibus tincidunt libero, id blandit mauris mollis ac. Maecenas rutrum diam nec nisi placerat, non efficitur lacus posuere. Pellentesque consectetur nibh sapien. Nulla sit amet accumsan sapien. </p>
          </div>
{% if nvertx_search %}
          <h2 class="sub-header" id="Results">Results</h2>

          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#Plots">Plots</a></li>
            <li><a data-toggle="tab" href="#Count_table">Count tables</a></li>
            <li><a data-toggle="tab" href="#Annotations">Annotations</a></li>
            <li><a data-toggle="tab" href="#Fasta">Fasta</a></li>
          </ul>
          <br/>
          <div class="tab-content">
            <div id="Plots" class="tab-pane fade in active">
              <h3>Plots</h3>
              <div id="regen_plot" style="width: 85%; height: 700px;"></div>
              <div id="embryo_plot" style="width: 85%; height: 700px;"></div>
            </div>
            <div id="Count_table" class="tab-pane fade">
              <h3>Count tables</h3>
              <div class="table-responsive">
                <table class="table table-striped">
                  <h4>Regeneration average counts (hours post amputation) {% if log2 %}-- LOG2{% endif %}</h4>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>UC</th>
                      <th>0h</th>
                      <th>2h</th>
                      <th>4h</th>
                      <th>8h</th>
                      <th>12h</th>
                      <th>16h</th>
                      <th>20h</th>
                      <th>24h</th>
                      <th>36h</th>
                      <th>48h</th>
                      <th>60h</th>
                      <th>72h</th>
                      <th>96h</th>
                      <th>120h</th>
                      <th>144h</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ nvertx_1 }}</td>
                      {% if not nvertx_search_1_invalid %}
                      <td>{{ regen_UC_1 }}</td>
                      <td>{{ regen_0_1 }}</td>
                      <td>{{ regen_2_1 }}</td>
                      <td>{{ regen_4_1 }}</td>
                      <td>{{ regen_8_1 }}</td>
                      <td>{{ regen_12_1 }}</td>
                      <td>{{ regen_16_1 }}</td>
                      <td>{{ regen_20_1 }}</td>
                      <td>{{ regen_24_1 }}</td>
                      <td>{{ regen_36_1 }}</td>
                      <td>{{ regen_48_1 }}</td>
                      <td>{{ regen_60_1 }}</td>
                      <td>{{ regen_72_1 }}</td>
                      <td>{{ regen_96_1 }}</td>
                      <td>{{ regen_120_1 }}</td>
                      <td>{{ regen_144_1 }}</td>
                      {% else %}
                      <td>INVALID NvERTx number</td>
                      {% endif %}
                   </tr>
                   {% if nvertx_2 %}
                    <tr>
                      <td>{{ nvertx_2 }}</td>
                      {% if not nvertx_search_2_invalid %}
                      <td>{{ regen_UC_2 }}</td>
                      <td>{{ regen_0_2 }}</td>
                      <td>{{ regen_2_2 }}</td>
                      <td>{{ regen_4_2 }}</td>
                      <td>{{ regen_8_2 }}</td>
                      <td>{{ regen_12_2 }}</td>
                      <td>{{ regen_16_2 }}</td>
                      <td>{{ regen_20_2 }}</td>
                      <td>{{ regen_24_2 }}</td>
                      <td>{{ regen_36_2 }}</td>
                      <td>{{ regen_48_2 }}</td>
                      <td>{{ regen_60_2 }}</td>
                      <td>{{ regen_72_2 }}</td>
                      <td>{{ regen_96_2 }}</td>
                      <td>{{ regen_120_2 }}</td>
                      <td>{{ regen_144_2 }}</td>
                      {% else %}
                      <td>INVALID NvERTx number</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                    {% if nvertx_3 %}
                    <tr>
                      <td>{{ nvertx_3 }}</td>
                      {% if not nvertx_search_3_invalid %}
                      <td>{{ regen_UC_3 }}</td>
                      <td>{{ regen_0_3 }}</td>
                      <td>{{ regen_2_3 }}</td>
                      <td>{{ regen_4_3 }}</td>
                      <td>{{ regen_8_3 }}</td>
                      <td>{{ regen_12_3 }}</td>
                      <td>{{ regen_16_3 }}</td>
                      <td>{{ regen_20_3 }}</td>
                      <td>{{ regen_24_3 }}</td>
                      <td>{{ regen_36_3 }}</td>
                      <td>{{ regen_48_3 }}</td>
                      <td>{{ regen_60_3 }}</td>
                      <td>{{ regen_72_3 }}</td>
                      <td>{{ regen_96_3 }}</td>
                      <td>{{ regen_120_3 }}</td>
                      <td>{{ regen_144_3 }}</td>
                      {% else %}
                      <td>INVALID NvERTx number</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                    {% if nvertx_4 %}
                    <tr>
                      <td>{{ nvertx_4 }}</td>
                      {% if not nvertx_search_4_invalid %}
                      <td>{{ regen_UC_4 }}</td>
                      <td>{{ regen_0_4 }}</td>
                      <td>{{ regen_2_4 }}</td>
                      <td>{{ regen_4_4 }}</td>
                      <td>{{ regen_8_4 }}</td>
                      <td>{{ regen_12_4 }}</td>
                      <td>{{ regen_16_4 }}</td>
                      <td>{{ regen_20_4 }}</td>
                      <td>{{ regen_24_4 }}</td>
                      <td>{{ regen_36_4 }}</td>
                      <td>{{ regen_48_4 }}</td>
                      <td>{{ regen_60_4 }}</td>
                      <td>{{ regen_72_4 }}</td>
                      <td>{{ regen_96_4 }}</td>
                      <td>{{ regen_120_4 }}</td>
                      <td>{{ regen_144_4 }}</td>
                      {% else %}
                      <td>INVALID NvERTx number</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                    {% if nvertx_5 %}
                    <tr>
                      <td>{{ nvertx_5 }}</td>
                      {% if not nvertx_search_5_invalid %}
                      <td>{{ regen_UC_5 }}</td>
                      <td>{{ regen_0_5 }}</td>
                      <td>{{ regen_2_5 }}</td>
                      <td>{{ regen_4_5 }}</td>
                      <td>{{ regen_8_5 }}</td>
                      <td>{{ regen_12_5 }}</td>
                      <td>{{ regen_16_5 }}</td>
                      <td>{{ regen_20_5 }}</td>
                      <td>{{ regen_24_5 }}</td>
                      <td>{{ regen_36_5 }}</td>
                      <td>{{ regen_48_5 }}</td>
                      <td>{{ regen_60_5 }}</td>
                      <td>{{ regen_72_5 }}</td>
                      <td>{{ regen_96_5 }}</td>
                      <td>{{ regen_120_5 }}</td>
                      <td>{{ regen_144_5 }}</td>
                      {% else %}
                      <td>INVALID NvERTx number</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
                <br/>
                <table class="table table-striped">
                  <h4>Warner et al. average counts (hours post fertilization)</h4>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>24h</th>
                      <th>48h</th>
                      <th>72h</th>
                      <th>96h</th>
                      <th>120h</th>
                      <th>144h</th>
                      <th>168h</th>
                      <th>192h</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ nvertx_1 }}</td>
                      {% if not nvertx_search_1_invalid %}
                      <td>{{ embryo_warner_24_1 }}</td>
                      <td>{{ embryo_warner_48_1 }}</td>
                      <td>{{ embryo_warner_72_1 }}</td>
                      <td>{{ embryo_warner_96_1 }}</td>
                      <td>{{ embryo_warner_120_1 }}</td>
                      <td>{{ embryo_warner_144_1 }}</td>
                      <td>{{ embryo_warner_168_1 }}</td>
                      <td>{{ embryo_warner_192_1 }}</td>
                      {% else %}
                      <td>INVALID NvERTx number</td>
                      {% endif %}
                    </tr>
                    {% if nvertx_2 %}
                    <tr>
                      <td>{{ nvertx_2 }}</td>
                      {% if not nvertx_search_2_invalid %}
                      <td>{{ embryo_warner_24_2 }}</td>
                      <td>{{ embryo_warner_48_2 }}</td>
                      <td>{{ embryo_warner_72_2 }}</td>
                      <td>{{ embryo_warner_96_2 }}</td>
                      <td>{{ embryo_warner_120_2 }}</td>
                      <td>{{ embryo_warner_144_2 }}</td>
                      <td>{{ embryo_warner_168_2 }}</td>
                      <td>{{ embryo_warner_192_2 }}</td>
                      {% else %}
                      <td>INVALID NvERTx number</td>
                      {% endif %}
                    </tr>
                  {% endif %}
                  </tbody>
                </table>
                <br/>
                <table class="table table-striped">
                  <h4>Fischer et al. counts (hours post fertilization)</h4>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>0h</th>
                      <th>1h</th>
                      <th>2h</th>
                      <th>3h</th>
                      <th>4h</th>
                      <th>5h</th>
                      <th>6h</th>
                      <th>7h</th>
                      <th>8h</th>
                      <th>9h</th>
                      <th>10h</th>
                      <th>11h</th>
                      <th>12h</th>
                      <th>13h</th>
                      <th>14h</th>
                      <th>15h</th>
                      <th>16h</th>
                      <th>17h</th>
                      <th>18h</th>
                      <th>19h</th>
                    </tr>
                  </thead>
                 <tbody>
                    <tr>
                      <td>{{ nvertx_1 }}</td>
                      {% if not nvertx_search_1_invalid %}
                      <td>{{ embryo_fischer_0_1 }}</td>
                      <td>{{ embryo_fischer_1_1 }}</td>
                      <td>{{ embryo_fischer_2_1 }}</td>
                      <td>{{ embryo_fischer_3_1 }}</td>
                      <td>{{ embryo_fischer_4_1 }}</td>
                      <td>{{ embryo_fischer_5_1 }}</td>
                      <td>{{ embryo_fischer_6_1 }}</td>
                      <td>{{ embryo_fischer_7_1 }}</td>
                      <td>{{ embryo_fischer_8_1 }}</td>
                      <td>{{ embryo_fischer_9_1 }}</td>
                      <td>{{ embryo_fischer_10_1 }}</td>
                      <td>{{ embryo_fischer_11_1 }}</td>
                      <td>{{ embryo_fischer_12_1 }}</td>
                      <td>{{ embryo_fischer_13_1 }}</td>
                      <td>{{ embryo_fischer_14_1 }}</td>
                      <td>{{ embryo_fischer_15_1 }}</td>
                      <td>{{ embryo_fischer_16_1 }}</td>
                      <td>{{ embryo_fischer_17_1 }}</td>
                      <td>{{ embryo_fischer_18_1 }}</td>
                      <td>{{ embryo_fischer_19_1 }}</td>
                      {% else %}
                      <td>INVALID NvERTx number</td>
                      {% endif %}
                    </tr>
                    {% if nvertx_2 %}
                    <tr>
                      <td>{{ nvertx_2 }}</td>
                      {% if not nvertx_search_2_invalid %}
                      <td>{{ embryo_fischer_0_2 }}</td>
                      <td>{{ embryo_fischer_1_2 }}</td>
                      <td>{{ embryo_fischer_2_2 }}</td>
                      <td>{{ embryo_fischer_3_2 }}</td>
                      <td>{{ embryo_fischer_4_2 }}</td>
                      <td>{{ embryo_fischer_5_2 }}</td>
                      <td>{{ embryo_fischer_6_2 }}</td>
                      <td>{{ embryo_fischer_7_2 }}</td>
                      <td>{{ embryo_fischer_8_2 }}</td>
                      <td>{{ embryo_fischer_9_2 }}</td>
                      <td>{{ embryo_fischer_10_2 }}</td>
                      <td>{{ embryo_fischer_11_2 }}</td>
                      <td>{{ embryo_fischer_12_2 }}</td>
                      <td>{{ embryo_fischer_13_2 }}</td>
                      <td>{{ embryo_fischer_14_2 }}</td>
                      <td>{{ embryo_fischer_15_2 }}</td>
                      <td>{{ embryo_fischer_16_2 }}</td>
                      <td>{{ embryo_fischer_17_2 }}</td>
                      <td>{{ embryo_fischer_18_2 }}</td>
                      <td>{{ embryo_fischer_19_2 }}</td>
                      {% else %}
                      <td>INVALID NvERTx number</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
                <br/>
                <table class="table table-striped">
                  <h4>Helm et al. counts (hours post fertilization)</h4>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>2h</th>
                      <th>7h</th>
                      <th>12h</th>
                      <th>24h</th>
                      <th>120h</th>
                      <th>240h</th>
                    </tr>
                  </thead>
                 <tbody>
                    <tr>
                      <td>{{ nvertx_1 }}</td>
                      {% if not nvertx_search_1_invalid %}
                      <td>{{ embryo_helm_2_1 }}</td>
                      <td>{{ embryo_helm_7_1 }}</td>
                      <td>{{ embryo_helm_12_1 }}</td>
                      <td>{{ embryo_helm_24_1 }}</td>
                      <td>{{ embryo_helm_120_1 }}</td>
                      <td>{{ embryo_helm_240_1 }}</td>
                      {% else %}
                      <td>INVALID NvERTx number</td>
                      {% endif %}
                    </tr>
                    {% if nvertx_2 %}
                    <tr>
                      <td>{{ nvertx_2 }}</td>
                      {% if not nvertx_search_2_invalid %}
                      <td>{{ embryo_helm_2_2 }}</td>
                      <td>{{ embryo_helm_7_2 }}</td>
                      <td>{{ embryo_helm_12_2 }}</td>
                      <td>{{ embryo_helm_24_2 }}</td>
                      <td>{{ embryo_helm_120_2 }}</td>
                      <td>{{ embryo_helm_240_2 }}</td>
                      {% else %}
                      <td>INVALID NvERTx number</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
            <div id="Annotations" class="tab-pane fade">
              <table class="table table-striped">
                <h3>Annotations</h3>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>NVE hit</th>
                    <th>NVE eval</th>
                    <th>Mfuzz clust</th>
                    <th>Mfuzz score</th>
                    <th>Uniprot id</th>
                    <th>Uniprot description</th>
                    <th>Top nr hit eval</th>
                    <th>Other nr hits</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ nvertx_1 }}</td>
                    {% if not nvertx_search_1_invalid %}
                    <td>{{ annot_nve_hit_1 }}</td>
                    <td>{{ annot_nve_eval_1 }}</td>
                    <td>{{ annot_mfuzz_clust_1 }}</td>
                    <td>{{ annot_mfuzz_score_1 }}</td>
                    <td>{{ annot_uniprot_id_1 }}</td>
                    <td>{{ annot_uniprot_description_1 }}</td>
                    <td>{{ annot_top_nr_hit_eval_1 }}</td>
                    <td>{{ annot_other_nr_hits_1 }}</td>
                    {% else %}
                    <td>INVALID NvERTx number</td>
                    {% endif %}
                  </tr>
                  {% if nvertx_2 %}
                  <tr>
                    <td>{{ nvertx_2 }}</td>
                    {% if not nvertx_search_2_invalid %}
                    <td>{{ annot_nve_hit_2 }}</td>
                    <td>{{ annot_nve_eval_2 }}</td>
                    <td>{{ annot_mfuzz_clust_2 }}</td>
                    <td>{{ annot_mfuzz_score_2 }}</td>
                    <td>{{ annot_uniprot_id_2 }}</td>
                    <td>{{ annot_uniprot_description_2 }}</td>
                    <td>{{ annot_top_nr_hit_eval_2 }}</td>
                    <td>{{ annot_other_nr_hits_2 }}</td>
                    {% else %}
                    <td>INVALID NvERTx number</td>
                    {% endif %}
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
            <div id="Fasta" class="tab-pane fade">
              <h3>Fasta</h3>
              <table class="fasta_table">
                <tr>
                    <th >>{{ nvertx_1 }}</th>
                </tr>
                <tr>
                  {% if not nvertx_search_1_invalid %}
                  <td class="fasta_results">{{ sequence_fasta_1 }}</td>
                  {% else %}
                  <td>INVALID NvERTx number</td>
                  {% endif %}
                </tr>
                {% if nvertx_2 %}
                <tr>
                    <th >>{{ nvertx_2 }}</th>
                </tr>
                <tr>
                  {% if not nvertx_search_2_invalid %}
                  <td class="fasta_results">{{ sequence_fasta_2 }}</td>
                  {% else %}
                  <td>INVALID NvERTx number</td>
                  {% endif %}
                </tr>
                {% endif %}
              </table>
            </div>
          </div>
            
{% endif %}
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'ER_plotter/bootStrap/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="/Users/vincent/Desktop/dER_plotter/nemVec_ER/ER_plotter/static/ER_plotter/bootStrap/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
