#-*- coding: utf-8 -*-
<!DOCTYPE html>
{% extends "ER_plotter/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
{% endblock css %}


{% block presentation_text %}
<h2 class="sub-header" id="Mfuzz_clusters">NvERTx - A comparative embryogenesis & regeneration temporal gene expression plotter</h2>
<div class="row">
  <p class="text">Understanding the relationship between embryogenesis and regeneration is a long lasting question in regenerative biology as both developmental strategies lead to fully functional organisms. Modern functional genomics enables us today to re-address this question using integrative approaches that enable us to identify the similarities as well as importantly the regeneration specific elements that are potential candidates for regenerative medicine.</p>
  <p class="text">The starlet sea anemone <em class="sp_name">Nematostella vectensis</em> (Anthozoa, Cnidaria) is a unique model to study <em class="em_blue">embryonic development</em> and <em class="em_blue">whole body regeneration</em> in the same organism. In complement to an existing <em class="em_blue">spatial gene expression</em> database, we present here a novel tool to mine simultaneously (re)-analyzed/normalized temporal RNAseq datasets for embryonic development and oral regeneration of <em class="sp_name">Nematostella vectensis</em>. Data can be accessed by searching for your gene of interest using a gene name or the NvERTx ID of your gene of interest, scrolling trough the gene list corresponding to a given expression clusters, or by using the integrated BLAST ® function.</p>
  <p class="text">More information about:  <em class="sp_name">Nematostella vectensis</em> | <em class="em_blue">Embryogenesis</em> | <em class="em_blue">Regeneration</em> | <em class="em_blue">Spatial gene expression</em></p>
  <p class="references">References for regeneration and novel embryonic datasets: <em class="em_blue">Warner et al(a), 2017, Warner et al(b), 2017.</em> Re-analyzed embryonic datasets: <em class="em_blue">Helm et al. 2013, Tulin et al. 2013</em> </p>
</div>
{% endblock presentation_text %}


{% block content %}
  <!-- Buttons -->
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header delimiter"></h2>
    <div class="row">

      <div class="col-md-12">
        <div class="block col-md-7">
          <h3 class="blockTitle">Mine co-expression clusters</h3>
          <div class="col-md-12">
            <div class="col-md-1 div_image_clust">
              <img class="img-responsive" src="{% static 'ER_plotter/Mfuzz1.png' %}">
            </div>
            <div class="col-md-1 div_image_clust">
              <img class="img-responsive" src="{% static 'ER_plotter/Mfuzz2.png' %}">
            </div>
            <div class="col-md-1 div_image_clust">
              <img class="img-responsive" src="{% static 'ER_plotter/Mfuzz3.png' %}">
            </div>            
            <div class="col-md-1 div_image_clust">
              <img class="img-responsive" src="{% static 'ER_plotter/Mfuzz4.png' %}">
            </div>
            <div class="col-md-1 div_image_clust">
              <img class="img-responsive" src="{% static 'ER_plotter/Mfuzz5.png' %}">
            </div>
            <div class="col-md-1 div_image_clust">
              <img class="img-responsive" src="{% static 'ER_plotter/Mfuzz6.png' %}">
            </div>
            <div class="col-md-1 div_image_clust">
              <img class="img-responsive" src="{% static 'ER_plotter/Mfuzz7.png' %}">
            </div>
            <div class="col-md-1 div_image_clust">
              <img class="img-responsive" src="{% static 'ER_plotter/Mfuzz8.png' %}">
            </div>
            <div class="col-md-1 div_image_clust">
              <img class="img-responsive" src="{% static 'ER_plotter/Mfuzz9.png' %}">
            </div>
            <div class="col-md-1 div_image_clust">
              <img class="img-responsive" src="{% static 'ER_plotter/Mfuzz10.png' %}">
            </div>
            <div class="col-md-1 div_image_clust">
              <img class="img-responsive" src="{% static 'ER_plotter/Mfuzz11.png' %}">
            </div>
            <div class="col-md-1 div_image_clust">
              <img class="img-responsive" src="{% static 'ER_plotter/Mfuzz12.png' %}">
            </div>
          </div>
          <div class="col-md-5">
            <a href="{% url 'mfuzz' %}"><button type="button" class="btn btn-default"><img class="img-responsive" src="{% static 'ER_plotter/embryo_cropped.png' %}"></button></a>
            <h4 class="image_label">Embryonic development</h4>
          </div>
          <div class="col-md-5 col-md-offset-2">
            <a href="{% url 'mfuzz' %}"><button type="button" class="btn btn-default mfuzz_button"><img class="img-responsive" src="{% static 'ER_plotter/regen_cropped.png' %}"></button></a>
            <h4 class="image_label">Regeneration</h4>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-1">
          <div class ="block col-md-12">
            <div class ="col-md-10">
              <h3 class="blockTitle">Search by gene name</h3>
            </div>
            <div class ="col-md-2">
            </div>
            <div class ="col-md-10">
              <form action="{% url 'search' %}" method="get">
                {% render_field gene_search_form.gene_name class+='form-control' placeholder='eg : TCF' %}
              </div>
              <div class ="col-md-2">
                <input type="submit" class="btn btn-primary" value="Go!">
              </div>
            </form>
          </div>

          <div class ="block col-md-12">
            <div class ="col-md-10">
              <h3 class="blockTitle">Search by NvERTx ID</h3>
            </div>
            <div class ="col-md-2">
            </div>
            <div class ="col-md-10">
              <form action="{% url 'results' %}" method="post">
                {% csrf_token %}
                {% render_field nvertx_form.nvertx_1 class+='form-control' placeholder='eg : NvERTx.2.133024 or 133024' %}
              </div>
              <div class ="col-md-2">
                <input type="submit" class="btn btn-primary" value="Go!">
              </div>
              </form>
            </div>
          </div>


      </div>

    </div>
    </br>
    </br>
    </br>
    <div class="row">
      <div class="block">
        <h3 class="blockTitle" id="blast">BLAST</h3>
        <textarea id="blast_textarea" rows="10" cols="200">
        </textarea> 
      </div>
    </div>
  </div>
{% endblock content %}
