#-*- coding: utf-8 -*-
<!DOCTYPE html>
{% extends "ER_plotter/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'ER_plotter/css_mfuzz4.css' %}" />
{% endblock head %}

{% block presentation_text %}
<h2 class="sub-header delimiter"></h2>
<h2 class="sub-header" id="Mfuzz_clusters">Embryogenesis and Regeneration Mfuzz clusters </h2>
<div class="row"> 
  <p class="text">Using fuzzy c-means clustering, we regrouped temporal expression patterns during embryonic development as well as during oral regeneration of <em>Nematostella vectensis</em>. Clicking on a cluster will display all associated genes . Ticking a checkbox in the table then 'Compare!' will bring you to the results page of that transcript.</p>
  <p class="references">References for regeneration and novel embryonic datasets: <em class="em_blue">Warner et al(a), 2017, Warner et al(b), 2017.</em> Re-analyzed embryonic datasets: <a href = "https://www.ncbi.nlm.nih.gov/pubmed/24907201">Fischer et al. 2014</a>,<a href = "https://www.ncbi.nlm.nih.gov/pubmed/23731568">Tulin et al. 2013</a>,and <a href = "https://www.ncbi.nlm.nih.gov/pubmed/23601508">Helm et al. 2013</a></p>
</div>
{% endblock presentation_text %}

{% block content %}
  <!-- Buttons -->
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="sub-header" id="Mfuzz_clusters">Explore Mfuzz Clusters</h1>
    <div class="row placeholders">
      {% for cluster in clusters_list %}
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 imageButton">
        <a href="{{ cluster.mfuzz_cluster_nb }}"><button type="button" class="btn btn-lg btn-default"><img src="{% static cluster.cluster_image %}" class="img-responsive"></button></a>
        <p>Cluster {{ cluster.mfuzz_cluster_nb }}</p>
      </div>
      {% endfor %}
    </div>

    <h1 class="sub-header" id="Mfuzz_clusters">Mfuzz cluster {{ mfuzz_cluster_nb }}</h1>
    <div class="row">
      <img src="{% static mfuzz_graph %}" class="img-responsive col-lg-offset-1 col-lg-4">
      <img src="{% static mfuzz_bp_plot %}" class="img-responsive col-lg-offset-1 col-lg-5">
    </div>

    <h2 class="sub-header" id="Details">Details</h1>
    <p class="text-info">click on a row to view the other nr hits</p>

    {% if cluster_table.has_other_pages %}
    <div class="text-center">
      <ul class="pagination">
        {% if cluster_table.has_previous %}
          <li><a href="?page={{ cluster_table.previous_page_number }}#Details">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% if cluster_table.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          {% for num in cluster_table.page_range %}
            {% if not num %}<li><a>...</a></li>
            {% else %}<li><a href="?page={{ num }}#Details">{{ num }}</a></li>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if cluster_table.has_next %}
          <li><a href="?page={{ cluster_table.next_page_number }}#Details">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}

    <div class="row">
      <form action="{% url 'results' %}" method="get">
      <input type="submit" value="Compare !">
      <div class="table-responsive">
        <table id="cluster_annot" class="table table-striped" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>mfuzz regen clust</th>
              <th>mfuzz regen score</th>
              <th>mfuzz embryo clust</th>
              <th>mfuzz embryo score</th>
              <th>Uniprot ID</th>
              <th>Uniprot description</th>
              <th>top nr_hit eval</th>
            </tr>
          </thead>
          
          <tbody>
            {% for id in cluster_table %}
            <tr>
              <td class='td_id'><input class='nvInput_checkboxes' type="checkbox" name="Nvid" value="{{ id.nvertx_id }}">{{ id.nvertx_id }}</td>
              <td>{% if not id.Mfuzz_R_Clust or id.Mfuzz_R_Clust == "NA" %}{{ id.Mfuzz_R_Clust }}{% else %}<a href="{{ id.Mfuzz_R_Clust }}">{{ id.Mfuzz_R_Clust }}</a>{% endif %}</td>
              <td>{% if id.Mfuzz_R_Score == -1 %}NA{% else %}{{ id.Mfuzz_R_Score }}{% endif %}</td>
              <td>{% if not id.Mfuzz_E_Clust or id.Mfuzz_E_Clust == "NA" %}{{ id.Mfuzz_E_Clust }}{% else %}<a href="{{ id.Mfuzz_E_Clust }}">{{ id.Mfuzz_E_Clust }}</a>{% endif %}</td>
              <td>{% if id.Mfuzz_E_Score == -1 %}NA{% else %}{{ id.Mfuzz_E_Score }}{% endif %}</td>
              <td>{% if id.Uniprot_ID == 'No_Uniprotmatch' %}{{ id.Uniprot_ID }}{% else %}<a href="http://www.uniprot.org/uniprot/{{ id.Uniprot_ID }}">{{ id.Uniprot_ID }}</a>{% endif %}</td>
              <td>{{ id.Uniprot_Description }}</td>
              <td>{% if id.ncbi_link %}{{ id.ncbi_wo_link_beg }}|<a href="https://www.ncbi.nlm.nih.gov/protein/{{ id.ncbi_link }}">{{ id.ncbi_link }}</a>|{{ id.ncbi_wo_link_end }}{% else %}None{% endif %}</td>
            </tr>
            <tr>
              <td colspan="1" class="hidden_row"><p>other nr_hits</p></td>
              <td colspan="7" class="hidden_row"><p>{{ id.Other_nr_hits }}</p></td>
            </tr>
            {% endfor %}
            <div>
            </div>
          </tbody>
        </table>
        <input type="submit" value="Compare !">
        </form>
      </div>
    </div>

    {% if cluster_table.has_other_pages %}
    <div class="text-center">
      <ul class="pagination">
        {% if cluster_table.has_previous %}
          <li><a href="?page={{ cluster_table.previous_page_number }}#Details">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% if cluster_table.number == i %}
          <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
        {% else %}
          {% for num in cluster_table.page_range %}
            {% if not num %}<li><a>...</a></li>
            {% else %}<li><a href="?page={{ num }}#Details">{{ num }}</a></li>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if cluster_table.has_next %}
          <li><a href="?page={{ cluster_table.next_page_number }}#Details">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
<!----->
  </div>

{% endblock content %}

{% block js %}
<script type="text/javascript">
$(function() {
    $("td[colspan=1]").find("p").hide();
    $("td[colspan=7]").find("p").hide();
    $("table").click(function(event) {
        event.stopPropagation();
        var $target = $(event.target);
        if ( $target.closest("td").attr("colspan") < 2 ) {
            $target.closest("tr").next().find("p").slideToggle();
        } else {
            $target.closest("tr").next().find("p").slideToggle();
        }                    
    });
});
</script>
<script type="text/javascript">
jQuery(function(){
    var max = 5;
    var checkboxes = $('input[class="nvInput_checkboxes"]');

    checkboxes.change(function(){
        var current = checkboxes.filter(':checked').length;
        checkboxes.filter(':not(:checked)').prop('disabled', current >= max);
    });
});
</script>
<script type="text/javascript">
var elem = $(".nvid-form-control");

$(".nvInput_checkboxes").click(function(){
	var val = $(this).val();
    for(var i = 0, len = elem.length; i < len; i++){
  		if(elem[i].value === val){
    		elem[i].value = "";
      	return;
    	}
  	}   
  	for(var i = 0, len = elem.length; i < len; i++){
  		if(elem[i].value === ""){
    		elem[i].value = val;
      	break;
    	}
  	}
});
</script>

{% endblock js %}
