#-*- coding: utf-8 -*-
<!DOCTYPE html>
{% extends "ER_plotter/base.html" %}
{% load static %}

{% block presentation_text %}
<h2 class="sub-header delimiter"></h2>
<h2 class="sub-header" id="Mfuzz_clusters">Embryogenesis and Regeneration Mfuzz clusters </h2>
<div class="row"> 
  <p class="text">Using fuzzy c-means clustering, we regrouped temporal expression patterns during embryonic development as well as during oral regeneration of <em>Nematostella vectensis</em>. Clicking on a cluster will display all associated genes . Ticking a checkbox in the table then 'Compare!' will bring you to the results page of that transcript.</p>
  <p class="references">References for regeneration and novel embryonic datasets: <em class="em_blue">Warner et al(a), 2017, Warner et al(b), 2017.</em> Re-analyzed embryonic datasets: <a href = "https://www.ncbi.nlm.nih.gov/pubmed/24907201">Fischer et al. 2014</a>,<a href = "https://www.ncbi.nlm.nih.gov/pubmed/23731568">Tulin et al. 2013</a>,and <a href = "https://www.ncbi.nlm.nih.gov/pubmed/23601508">Helm et al. 2013</a></p>
</div>
{% endblock presentation_text %}


{% block content %}

  <!-- Buttons -->
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header delimiter"></h2>
    <div class="col-md-6 mfuzz_div">
      <h2 class="sub-header Mfuzz_clusters">Embryogenesis</h2>
      <img class="img-responsive image_text" src="{% static 'ER_plotter/embryo_cropped.png' %}">
      <div class="row placeholders">
        {% for cluster in clusters_list_embryo %}
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 imageButton">
          <a href="mfuzz/{{ cluster.mfuzz_cluster_nb }}"><button type="button" class="btn btn-lg btn-default"><img src="{% static cluster.cluster_image %}" class="img-responsive"></button></a>
        </div>
        {% endfor %}
      </div>
    </div>
    
    <div class="col-md-6 mfuzz_div">
      <h2 class="sub-header Mfuzz_clusters">Regeneration</h2>
      <img class="img-responsive image_text" src="{% static 'ER_plotter/regen_cropped.png' %}">
      <div class="row placeholders">
        {% for cluster in clusters_list_regen %}
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 imageButton">
          <a href="mfuzz/{{ cluster.mfuzz_cluster_nb }}"><button type="button" class="btn btn-lg btn-default"><img src="{% static cluster.cluster_image %}" class="img-responsive"></button></a>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>

{% endblock content %}