#-*- coding: utf-8 -*-
<!DOCTYPE html>
{% extends "ER_plotter/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'ER_plotter/css_mfuzz4.css' %}" />
{% endblock head %}

{% block content %}

  <!-- Buttons -->
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="sub-header" id="Mfuzz_clusters">Explore Mfuzz Clusters</h1>
    <div class="row placeholders">
      {% for cluster in clusters_list %}
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 imageButton">
        <a href="{{ cluster.mfuzz_cluster_nb }}"><button type="button" class="btn btn-lg btn-default"><img src="{% static cluster.cluster_image %}" class="img-responsive"></button></a>
        <p>Cluster {{ cluster.mfuzz_cluster_nb }}</p>
      </div>
      {% endfor %}
    </div>

    <h1 class="sub-header" id="Mfuzz_clusters">Mfuzz cluster {{ mfuzz_cluster_nb }}</h1>
    <div class="row">
      <img src="{% static mfuzz_graph %}" class="img-responsive col-lg-offset-1 col-lg-4">
      <img src="{% static mfuzz_bp_plot %}" class="img-responsive col-lg-offset-1 col-lg-5">
    </div>

    <h2 class="sub-header" id="Details">Details</h1>
    <p class="text-info">click on a row to view the other nr hits</p>
    <div class="row">
      <div class="table-responsive">
        <table id="cluster_annot" class="table table-striped" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>mfuzz clust</th>
              <th>mfuzz score</th>
              <th>uniprot id</th>
              <th>uniprot description</th>
              <th>top nr_hit eval</th>
            </tr>
          </thead>
          <tbody>
            <form action="{% url 'results' %}" method="get">
            {% for id in cluster_table %}
            <tr>
              <td class='td_id'><input class='nvInput_checkboxes' type="checkbox" name="Nvid" value="{{ id.nvertx_id }}">{{ id.nvertx_id }}</td>
              <td>{{ id.mfuzz_clust }}</td>
              <td>{{ id.mfuzz_score }}</td>
              <td>{% if id.uniprot_id == 'No_Uniprotmatch' %}{{ id.uniprot_id }}{% else %}<a href="http://www.uniprot.org/uniprot/{{ id.uniprot_id }}">{{ id.uniprot_id }}</a>{% endif %}</td>
              <td>{{ id.uniprot_description }}</td>
              <td>{{ id.top_nr_hit_eval }}</td>
            </tr>
            <tr>
              <td colspan="1" class="hidden_row"><p>other nr_hits</p></td>
              <td colspan="5" class="hidden_row"><p>{{ id.other_nr_hits }}</p></td>
            </tr>
            {% endfor %}
            <input type="submit" value="Compare !">
            </form>
          </tbody>
        </table>
      </div>
    </div>

    {% if cluster_table.has_other_pages %}
    <div class="text-center">
      <ul class="pagination">
        {% if cluster_table.has_previous %}
          <li><a href="?page={{ cluster_table.previous_page_number }}#Details">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% if cluster_table.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          {% for num in cluster_table.page_range %}
            {% if not num %}<li><a>...</a></li>
            {% else %}<li><a href="?page={{ num }}#Details">{{ num }}</a></li>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if cluster_table.has_next %}
          <li><a href="?page={{ cluster_table.next_page_number }}#Details">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}

  </div>

{% endblock content %}

{% block js %}
<script type="text/javascript">
$(function() {
    $("td[colspan=1]").find("p").hide();
    $("td[colspan=5]").find("p").hide();
    $("table").click(function(event) {
        event.stopPropagation();
        var $target = $(event.target);
        if ( $target.closest("td").attr("colspan") < 2 ) {
            $target.closest("tr").next().find("p").slideToggle();
        } else {
            $target.closest("tr").next().find("p").slideToggle();
        }                    
    });
});
</script>
<script type="text/javascript">
jQuery(function(){
    var max = 5;
    var checkboxes = $('input[class="nvInput_checkboxes"]');

    checkboxes.change(function(){
        var current = checkboxes.filter(':checked').length;
        checkboxes.filter(':not(:checked)').prop('disabled', current >= max);
    });
});
</script>
{% endblock js %}
