#-*- coding: utf-8 -*-
<!DOCTYPE html>
{% extends "ER_plotter/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'ER_plotter/jquery.dataTables.min.css' %}" />
{% endblock head %}

{% block content %}
  <!-- Buttons -->
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="sub-header" id="Mfuzz_clusters">Explore Mfuzz Clusters</h1>
    <div class="row placeholders">
      {% for cluster in clusters_list %}
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 imageButton">
        <button type="button" class="btn btn-lg btn-default" data-toggle="modal" data-target="#{{ cluster.name }}"><img src="{% static cluster.cluster_image %}" class="img-responsive"></button>
      </div>
      {% endfor %}
    </div>

    <!-- Modal windows -->
    {% for cluster in clusters_list %}
    <div id={{ cluster.name }} class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">{{ cluster.modal_title }}</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <img src="{% static cluster.cluster_image %}" class="img-responsive col-lg-offset-1 col-lg-4">
              <img src="{% static cluster.bp_plot_image %}" class="img-responsive col-lg-offset-1 col-lg-5">
            </div>
            <div class="row">
              <div class="table-responsive">
                <table id="cluster_annot" class="display" cellspacing="0" width="100%">
                  <h4>titre</h4>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>nve_hit</th>
                      <th>nve_eval</th>
                      <th>mfuzz_clust</th>
                      <th>mfuzz_score</th>
                      <th>uniprot_id</th>
                      <th>uniprot_description</th>
                      <th>top_nr_hit_eval</th>
                      <th>other_nr_hits</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for id in mfuzz1_all %}
                    <tr>
                      <td>{{ id.nvertx_id }}</td>
                      <td>{{ id.nve_hit }}</td>
                      <td>{{ id.nve_eval }}</td>
                      <td>{{ id.mfuzz_clust }}</td>
                      <td>{{ id.mfuzz_score }}</td>
                      <td>{{ id.uniprot_id }}</td>
                      <td>{{ id.uniprot_description }}</td>
                      <td>{{ id.top_nr_hit_eval }}</td>
                      <td>{{ id.other_nr_hits }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock content %}

{% block js %}
  <script type="text/javascript" src="{% static 'ER_plotter/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript">$(document).ready(function() {$('#cluster_annot').DataTable();} );</script>
{% endblock js %}