#-*- coding: utf-8 -*-
<!DOCTYPE html>
{% extends "ER_plotter/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<link rel="stylesheet" href="{% static 'ER_plotter/home2.css' %}" />
{% endblock head %}

{% block content %}
  <!-- Buttons -->
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="sub-header" id="Mfuzz_clusters">Welcome to NvERTx plotter !</h1>
    <div class="row">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis non ligula vitae iaculis. Praesent imperdiet nulla mi, a pharetra eros feugiat eget. Phasellus malesuada, magna non semper suscipit, mi massa rhoncus leo, lobortis eleifend eros augue non enim. Nunc pretium, quam sed feugiat mattis, lacus neque interdum purus, at lacinia lacus magna sit amet tellus. Sed orci nunc, porta in lectus tristique, mattis sagittis urna. Vestibulum sodales maximus pretium. Phasellus id turpis orci. Etiam ornare ac turpis at egestas. Proin ornare eros a metus cursus convallis. Quisque mollis a nunc a tempus. Suspendisse potenti. Morbi vel tempor dui. Pellentesque nec nunc in justo euismod luctus id eu mi.

        Nulla aliquam efficitur magna id hendrerit. Praesent ligula nisl, gravida vitae arcu nec, mollis imperdiet eros. Sed blandit et ligula a rhoncus. Cras viverra scelerisque ante, euismod auctor felis. Donec posuere mollis lectus at volutpat. In hac habitasse platea dictumst. Vestibulum vulputate, orci quis vulputate dapibus, velit nulla sodales arcu, vel hendrerit lorem ex at enim. Ut tempus lectus vitae magna commodo interdum. Nam tristique sapien quis lobortis tincidunt. Pellentesque id ligula cursus, rutrum arcu eget, hendrerit eros. Duis non quam id dui dignissim mollis. Nullam pharetra purus vel massa finibus bibendum. Nullam scelerisque arcu nec ex suscipit, non ultricies ipsum molestie.

        Mauris eu nisl sed purus maximus elementum eget tincidunt nibh. Aenean erat lacus, consectetur sit amet lacinia in, dapibus in est. Pellentesque in enim cursus, auctor neque nec, cursus sem. Donec velit dolor, fringilla eu viverra at, pellentesque vitae lacus. Vivamus cursus eleifend porta. Aliquam justo enim, sollicitudin vitae augue non, condimentum suscipit purus. Pellentesque bibendum ante aliquam, scelerisque erat et, dictum nibh. Suspendisse ex mi, porta non lacus ut, semper sodales orci. Integer vehicula mattis felis, vitae consectetur ante mattis ut. Curabitur malesuada, nulla nec elementum volutpat, lacus velit tristique sapien, et rutrum felis tortor commodo augue. Nullam luctus ipsum a justo semper mattis ut in arcu.

        Ut euismod metus nec eleifend sollicitudin. Sed sagittis pharetra arcu ac tempor. Duis tincidunt non ligula vel consectetur. Donec mollis eget eros eget vehicula. Mauris porttitor vestibulum velit, quis semper dolor pretium non. Cras auctor gravida porttitor. Aliquam malesuada erat dolor, eget porttitor dui tincidunt id. Fusce sed hendrerit justo, vel facilisis neque. Nullam vitae porta elit. Ut finibus pretium elit eu facilisis.

        Vivamus ligula tellus, fermentum vitae semper fringilla, volutpat vel justo. Etiam et accumsan tortor, ac efficitur purus. Nunc laoreet arcu ac erat viverra ornare. Aliquam pellentesque ligula a viverra posuere. Donec fringilla odio id ultricies feugiat. Fusce arcu purus, facilisis nec quam in, mollis aliquam dolor. Pellentesque ligula augue, malesuada in tincidunt ut, varius at lacus. Donec sed hendrerit nisl, id varius elit. Praesent id sodales nunc. Cras justo arcu, rutrum quis metus nec, vulputate cursus sem. Praesent tempor congue magna consectetur iaculis. Praesent faucibus tincidunt libero, id blandit mauris mollis ac. Maecenas rutrum diam nec nisi placerat, non efficitur lacus posuere. Pellentesque consectetur nibh sapien. Nulla sit amet accumsan sapien. </p>
      </p>
    </div>
    </br>
    </br>
    <div class="row">
      <div class ="block col-md-4">
        <h3 class="blockTitle">Search for a gene</h3></br>
        <form class="nav nav-sidebar" action="{% url 'search' %}" method="get">
          {% render_field gene_search_form.gene_name class+='form-control' placeholder='eg : TCF' %}</br>
          <input type="submit" class="btn btn-primary" value="Search !">
        </form>
      </div>
      <div class ="block col-md-2 col-md-offset-1">
        <h3 class="blockTitle">Explore Mfuzz Clusters</h3>
        <a href="{% url 'mfuzz' %}"><button type="button" class="btn btn-default" id="mfuzz_button"><img src="{% static 'ER_plotter/Mfuzz1.png' %}" id="mfuzz_image"></button></a>
      </br>
      </div>
      <div class ="block col-md-4 col-md-offset-1">
        <h3 class="blockTitle">Evaluate NvERTx</h3></br>
        <form class="nav nav-sidebar" action="{% url 'results' %}" method="post">
          {% csrf_token %}
          {% render_field nvertx_form.nvertx_1 class+='form-control' placeholder='eg : NvERTx.2.133024 or 133024' %}</br>
          <input type="submit" class="btn btn-primary" value="Evaluate !">
        </form>
      </div>
    </div>
    </br>
    </br>
    </br>
    <div class="row">
      <div class="block">
        <h3 class="blockTitle" id="blast">BLAST</h3>
        <textarea id="blast_textarea" rows="10" cols="200">
        </textarea> 
      </div>
    </div>
  </div>
{% endblock content %}
