<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>NvERTx Embryo-Regen plotter</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'ER_plotter/bootStrap/css/bootstrap.min.css' %}" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'ER_plotter/home.css' %}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NvERTx Embryo-Regen plotter</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">button2</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#">Home</a></li>
            <li><a href="#Mfuzz_clusters">Mfuzz clusters</a></li>
            <li><a href="#BLAST">BLAST</a></li>
            <li><a href="#Plotter">Plotter</a></li>
            <li><a href="#Fasta">Fasta</a></li>
          </ul>
          <br/>
          <form class="nav nav-sidebar">
            <h3 class="NvERTxInput">Search for a gene</h3>
            <input type="text" class="form-control" placeholder="e.g. 'TCF'">
            <input type="submit" class="btn btn-primary" value="Search !">
          </form>
          <form class="nav nav-sidebar">
          <h3 class="NvERTxInput">Input NvERTx Number</h3>
            <input type="text" class="form-control" placeholder="e.g. 'NvERTx.2.133024'">
          <h3 class="NvERTxInput">Input other numbers or leave blank</h3>
            <input type="text" class="form-control" placeholder="e.g 'NvERTx.2.133025'"><br/>
            <input type="text" class="form-control" placeholder="e.g 'NvERTx.2.133026'"><br/>
            <input type="text" class="form-control" placeholder="e.g 'NvERTx.2.133027'"><br/>
            <input type="text" class="form-control" placeholder="e.g 'NvERTx.2.133028'">
            <div class="checkbox">
              <label>
                <input type="checkbox" class="check_box" value="log2"> Check for log2
              </label>
            </div>
            <input type="submit" class="btn btn-primary" value="Evaluate !">
          </form>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header" id="Mfuzz_clusters">Explore Mfuzz Clusters</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'ER_plotter/unknowImage.png' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'ER_plotter/unknowImage.png' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'ER_plotter/unknowImage.png' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'ER_plotter/unknowImage.png' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'ER_plotter/unknowImage.png' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'ER_plotter/unknowImage.png' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'ER_plotter/unknowImage.png' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'ER_plotter/unknowImage.png' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'ER_plotter/unknowImage.png' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'ER_plotter/unknowImage.png' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'ER_plotter/unknowImage.png' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'ER_plotter/unknowImage.png' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
            </div>
          </div>

          <h2 class="sub-header" id="BLAST">BLAST</h2>
          <div>
            <p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis non ligula vitae iaculis. Praesent imperdiet nulla mi, a pharetra eros feugiat eget. Phasellus malesuada, magna non semper suscipit, mi massa rhoncus leo, lobortis eleifend eros augue non enim. Nunc pretium, quam sed feugiat mattis, lacus neque interdum purus, at lacinia lacus magna sit amet tellus. Sed orci nunc, porta in lectus tristique, mattis sagittis urna. Vestibulum sodales maximus pretium. Phasellus id turpis orci. Etiam ornare ac turpis at egestas. Proin ornare eros a metus cursus convallis. Quisque mollis a nunc a tempus. Suspendisse potenti. Morbi vel tempor dui. Pellentesque nec nunc in justo euismod luctus id eu mi.

Nulla aliquam efficitur magna id hendrerit. Praesent ligula nisl, gravida vitae arcu nec, mollis imperdiet eros. Sed blandit et ligula a rhoncus. Cras viverra scelerisque ante, euismod auctor felis. Donec posuere mollis lectus at volutpat. In hac habitasse platea dictumst. Vestibulum vulputate, orci quis vulputate dapibus, velit nulla sodales arcu, vel hendrerit lorem ex at enim. Ut tempus lectus vitae magna commodo interdum. Nam tristique sapien quis lobortis tincidunt. Pellentesque id ligula cursus, rutrum arcu eget, hendrerit eros. Duis non quam id dui dignissim mollis. Nullam pharetra purus vel massa finibus bibendum. Nullam scelerisque arcu nec ex suscipit, non ultricies ipsum molestie.

Mauris eu nisl sed purus maximus elementum eget tincidunt nibh. Aenean erat lacus, consectetur sit amet lacinia in, dapibus in est. Pellentesque in enim cursus, auctor neque nec, cursus sem. Donec velit dolor, fringilla eu viverra at, pellentesque vitae lacus. Vivamus cursus eleifend porta. Aliquam justo enim, sollicitudin vitae augue non, condimentum suscipit purus. Pellentesque bibendum ante aliquam, scelerisque erat et, dictum nibh. Suspendisse ex mi, porta non lacus ut, semper sodales orci. Integer vehicula mattis felis, vitae consectetur ante mattis ut. Curabitur malesuada, nulla nec elementum volutpat, lacus velit tristique sapien, et rutrum felis tortor commodo augue. Nullam luctus ipsum a justo semper mattis ut in arcu.

Ut euismod metus nec eleifend sollicitudin. Sed sagittis pharetra arcu ac tempor. Duis tincidunt non ligula vel consectetur. Donec mollis eget eros eget vehicula. Mauris porttitor vestibulum velit, quis semper dolor pretium non. Cras auctor gravida porttitor. Aliquam malesuada erat dolor, eget porttitor dui tincidunt id. Fusce sed hendrerit justo, vel facilisis neque. Nullam vitae porta elit. Ut finibus pretium elit eu facilisis.

Vivamus ligula tellus, fermentum vitae semper fringilla, volutpat vel justo. Etiam et accumsan tortor, ac efficitur purus. Nunc laoreet arcu ac erat viverra ornare. Aliquam pellentesque ligula a viverra posuere. Donec fringilla odio id ultricies feugiat. Fusce arcu purus, facilisis nec quam in, mollis aliquam dolor. Pellentesque ligula augue, malesuada in tincidunt ut, varius at lacus. Donec sed hendrerit nisl, id varius elit. Praesent id sodales nunc. Cras justo arcu, rutrum quis metus nec, vulputate cursus sem. Praesent tempor congue magna consectetur iaculis. Praesent faucibus tincidunt libero, id blandit mauris mollis ac. Maecenas rutrum diam nec nisi placerat, non efficitur lacus posuere. Pellentesque consectetur nibh sapien. Nulla sit amet accumsan sapien. </p>
          </div>

          <h2 class="sub-header" id="Plotter">Plotter</h2>
          <br/>
          <div class="table-responsive">
            <table class="table table-striped">
              <h4>Regeneration average counts (hours post amputation)</h4>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>UC</th>
                  <th>0h</th>
                  <th>2h</th>
                  <th>4h</th>
                  <th>8h</th>
                  <th>12h</th>
                  <th>16h</th>
                  <th>20h</th>
                  <th>24h</th>
                  <th>36h</th>
                  <th>48h</th>
                  <th>60h</th>
                  <th>72h</th>
                  <th>96h</th>
                  <th>120h</th>
                  <th>144h</th>
                </tr>
              </thead>
             <tbody>
                <tr>
                  <td>{{ nvertx_id }}</td>
                  <td>{{ regen_UC }}</td>
                  <td>{{ regen_0 }}</td>
                  <td>{{ regen_2 }}</td>
                  <td>{{ regen_4 }}</td>
                  <td>{{ regen_8 }}</td>
                  <td>{{ regen_12 }}</td>
                  <td>{{ regen_16 }}</td>
                  <td>{{ regen_20 }}</td>
                  <td>{{ regen_24 }}</td>
                  <td>{{ regen_36 }}</td>
                  <td>{{ regen_48 }}</td>
                  <td>{{ regen_60 }}</td>
                  <td>{{ regen_72 }}</td>
                  <td>{{ regen_96 }}</td>
                  <td>{{ regen_120 }}</td>
                  <td>{{ regen_144 }}</td>
               </tr>
              </tbody>
            </table>
            <br/>
            <table class="table table-striped">
              <h4>Warner et al. average counts (hours post fertilization)</h4>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>24h</th>
                  <th>48h</th>
                  <th>72h</th>
                  <th>96h</th>
                  <th>120h</th>
                  <th>144h</th>
                  <th>168h</th>
                  <th>192h</th>
                </tr>
              </thead>
             <tbody>
                <tr>
                  <td>{{ nvertx_id }}</td>
                  <td>{{ embryo_warner_24 }}</td>
                  <td>{{ embryo_warner_48 }}</td>
                  <td>{{ embryo_warner_72 }}</td>
                  <td>{{ embryo_warner_96 }}</td>
                  <td>{{ embryo_warner_120 }}</td>
                  <td>{{ embryo_warner_144 }}</td>
                  <td>{{ embryo_warner_168 }}</td>
                  <td>{{ embryo_warner_192 }}</td>
               </tr>
              </tbody>
            </table>
            <br/>
            <table class="table table-striped">
              <h4>Fischer et al. counts (hours post fertilization)</h4>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>0h</th>
                  <th>1h</th>
                  <th>2h</th>
                  <th>3h</th>
                  <th>4h</th>
                  <th>5h</th>
                  <th>6h</th>
                  <th>7h</th>
                  <th>8h</th>
                  <th>9h</th>
                  <th>10h</th>
                  <th>11h</th>
                  <th>12h</th>
                  <th>13h</th>
                  <th>14h</th>
                  <th>15h</th>
                  <th>16h</th>
                  <th>17h</th>
                  <th>18h</th>
                  <th>19h</th>
                </tr>
              </thead>
             <tbody>
                <tr>
                  <td>{{ nvertx_id }}</td>
                  <td>{{ embryo_fischer_0 }}</td>
                  <td>{{ embryo_fischer_1 }}</td>
                  <td>{{ embryo_fischer_2 }}</td>
                  <td>{{ embryo_fischer_3 }}</td>
                  <td>{{ embryo_fischer_4 }}</td>
                  <td>{{ embryo_fischer_5 }}</td>
                  <td>{{ embryo_fischer_6 }}</td>
                  <td>{{ embryo_fischer_7 }}</td>
                  <td>{{ embryo_fischer_8 }}</td>
                  <td>{{ embryo_fischer_9 }}</td>
                  <td>{{ embryo_fischer_10 }}</td>
                  <td>{{ embryo_fischer_11 }}</td>
                  <td>{{ embryo_fischer_12 }}</td>
                  <td>{{ embryo_fischer_13 }}</td>
                  <td>{{ embryo_fischer_14 }}</td>
                  <td>{{ embryo_fischer_15 }}</td>
                  <td>{{ embryo_fischer_16 }}</td>
                  <td>{{ embryo_fischer_17 }}</td>
                  <td>{{ embryo_fischer_18 }}</td>
                  <td>{{ embryo_fischer_19 }}</td>
               </tr>
              </tbody>
            </table>
            <br/>
            <table class="table table-striped">
              <h4>Helm et al. counts (hours post fertilization)</h4>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>2h</th>
                  <th>7h</th>
                  <th>12h</th>
                  <th>24h</th>
                  <th>120h</th>
                  <th>240h</th>
                </tr>
              </thead>
             <tbody>
                <tr>
                  <td>{{ nvertx_id }}</td>
                  <td>{{ embryo_helm_2 }}</td>
                  <td>{{ embryo_helm_7 }}</td>
                  <td>{{ embryo_helm_12 }}</td>
                  <td>{{ embryo_helm_24 }}</td>
                  <td>{{ embryo_helm_120 }}</td>
                  <td>{{ embryo_helm_240 }}</td>
               </tr>
              </tbody>
            </table>
            <br/>
            <table class="table table-striped">
              <h4>Annotations</h4>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>NVE hit</th>
                  <th>NVE eval</th>
                  <th>Mfuzz clust</th>
                  <th>Mfuzz score</th>
                  <th>Uniprot id</th>
                  <th>Uniprot description</th>
                  <th>Top nr hit eval</th>
                  <th>Other nr hits</th>
                </tr>
              </thead>
             <tbody>
                <tr>
                  <td>{{ nvertx_id }}</td>
                  <td>{{ annot_nve_hit }}</td>
                  <td>{{ annot_nve_eval }}</td>
                  <td>{{ annot_mfuzz_clust }}</td>
                  <td>{{ annot_mfuzz_score }}</td>
                  <td>{{ annot_uniprot_id }}</td>
                  <td>{{ annot_uniprot_description }}</td>
                  <td>{{ annot_top_nr_hit_eval }}</td>
                  <td>{{ annot_other_nr_hits }}</td>
               </tr>
              </tbody>
            </table>

          </div>

          <h2 class="sub-header" id="Fasta">Fasta</h2>
            <table class="fasta_table">
                <tr>
                    <th >{{ nvertx_id }}</th>
                </tr>
                <tr>
                    <td class="fasta_results">{{ sequence_fasta }}</td>
                </tr>
            </table>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'ER_plotter/bootStrap/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="/Users/vincent/Desktop/dER_plotter/nemVec_ER/ER_plotter/static/ER_plotter/bootStrap/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
