#-*- coding: utf-8 -*-
<!DOCTYPE html>
{% extends "ER_plotter/base.html" %}
{% load static %}

{% block presentation_text %}
{% endblock presentation_text %}

{% block content %}

  <!-- Buttons -->
  <div class="infinite-container col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="sub-header" id="Mfuzz_clusters">Search results</h1>
    <p class="text-info">click on a row to view the other nr hits</p>
    <div class="row infinite-item">
      <div class="table-responsive">
        <input type="submit" value="Compare !" id="secondaryButton" onclick="document.getElementById('primaryButton').click()" />
        <table id="cluster_annot" class="table table-striped" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nemve1 hit</th>
              <th>Nemve1 e-value</th>
              <th>Uniprot id</th>
              <th>Uniprot description</th>
              <th>top nr_hit eval</th>
            </tr>
          </thead>
          <tbody>
            <form action="{% url 'results' %}" method="get">
            {% for id in search_result %}
            <tr class="clickable">
              <td class='td_id'><input class='nvInput_checkboxes' type="checkbox" name="Nvid" value="{{ id.nvertx_id }}">{{ id.nvertx_id }}</td>
              <td>{{ id.Nemve1_tophit }}</td>
              <td>{{ id.Nemve1_e_val }}</td>
              <td>{% if id.Uniprot_ID == 'No_Uniprotmatch' %}{{ Uniprot_ID }}{% else %}<a href="http://www.uniprot.org/uniprot/{{ id.Uniprot_ID }}">{{ id.Uniprot_ID }}</a>{% endif %}</td>
              <td>{{ id.Uniprot_Description }}</td>
              <td>{% if id.ncbi_link %}{{ id.ncbi_wo_link_beg }}|<a href="https://www.ncbi.nlm.nih.gov/protein/{{ id.ncbi_link }}">{{ id.ncbi_link }}</a>|{{ id.ncbi_wo_link_end }}{% else %}None{% endif %}</td>
            </tr>
            <tr class="hidden_row">
              <td colspan="1" >other nr_hits</td>
              <td colspan="7" >{{ id.Other_nr_hits }}</td>
            </tr>
            {% endfor %}
            </form>
          </tbody>
        </table>
        {% if search_result.has_next %}
          <a class="infinite-more-link" href="?gene_name={{ search_query }}&page={{ search_result.next_page_number }}">More</a>
        {% endif %}
      </div>
    </div>
<!--
    {% if search_result.has_other_pages %}
    <div class="text-center">
      <ul class="pagination">
        {% if search_result.has_previous %}
          <li><a href="?gene_name={{ search_query }}&page={{ search_result.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% if search_result.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          {% for num in search_result.page_range %}
            {% if not num %}<li><a>...</a></li>
            {% else %}<li><a href="?gene_name={{ search_query }}&page={{ num }}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if search_result.has_next %}
          <li><a href="?gene_name={{ search_query }}&page={{ search_result.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
-->

  </div>

{% endblock content %}

{% block js %}
<!-- This block handles the infinite scroll-->
<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0]
    });
</script>

<!-- This block fills the form on clicking the checkboxes-->
<script type="text/javascript">
var elem = $(".nvid-form-control");

$("body").on("click", ".nvInput_checkboxes",function(){
	var val = $(this).val();
    for(var i = 0, len = elem.length; i < len; i++){
  		if(elem[i].value === val){
    		elem[i].value = "";
      	return;
    	}
  	}   
  	for(var i = 0, len = elem.length; i < len; i++){
  		if(elem[i].value === ""){
    		elem[i].value = val;
      	break;
    	}
  	}
});
</script>
<script type="text/javascript">
$("body").on("click", ".clickable",function(){
	$(this).next().toggle();
});
</script>
{% endblock js %}
