#-*- coding: utf-8 -*-
<!DOCTYPE html>
{% extends "ER_plotter/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

  <!-- Buttons -->
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="sub-header" id="Mfuzz_clusters">tests checkboxes</h1>
      <a href="http://127.0.0.1:8000/ER_plotter/mfuzz/1?page=3#Details">click here to go to details</a>
    {% for elem in nvid %}
    <p>{{ elem }}</p><br/>
    {% endfor %}

  </div>

{% endblock content %}

{% block js %}

<!-- limits the amount of checkboxes that can be checked -->

<script type="text/javascript">
jQuery(function(){
    var max = 2;
    var checkboxes = $('input[class="nvInput_checkboxes"]');

    checkboxes.change(function(){
        var current = checkboxes.filter(':checked').length;
        checkboxes.filter(':not(:checked)').prop('disabled', current >= max);
    });
});
</script>
{% endblock js %}