<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}test{% endblock %}</title>
</head>

<body>
	{% block table %}
  <table class="table table-striped">
	  <h4>Helm et al. counts (hours post fertilization)</h4>
  	<thead>
	    <tr>
        <th>ID</th>
        <th>UC</th>
        <th>0h</th>
        <th>2h</th>
        <th>4h</th>
        <th>8h</th>
        <th>12h</th>
        <th>16h</th>
        <th>20h</th>
        <th>24h</th>
        <th>36h</th>
        <th>48h</th>
        <th>60h</th>
        <th>72h</th>
        <th>96h</th>
        <th>120h</th>
        <th>144h</th>
  	  </tr>
	  </thead>
	 	<tbody>
  	  <tr>
      {% block row %}{% endblock row %}
    	</tr>
  	</tbody>
	</table>
	{% endblock table %}
</body>
</html>