/*
 * Base structure
 */



/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-top: 40px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 75%;
  }
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.form-control {
  width: 90%;
  margin-left: 5%;
}
.NvERTxInput {
  width: 90%;
  margin-left: 5%;
  font-size: 15px;
  text-align: left;
  color: #337ab7;
}
.btn-primary {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.checkbox {
  margin-left: 5%;
  color: #337ab7;
}
.fasta_table {
  word-break: break-all;
}
.fasta_results {
  font-family: Courier New;
  font-size: 120%;
}
.imageButton {
  padding-bottom: 10px;
  padding-top: 10px;
}
.btn-group-lg > .btn, .btn-lg {
  padding: 6% 6%;
  }
.modal-header {
  text-align: center;
}
#sidebarTitle {
  text-align: center;
  font-size: x-large;
}
#annot_table {
  background-color : white;
}